<h1>Anmelden</h1>

<%= form_for(:session, url: login_path) do |f| %>

  <div class="form-group">
    <%= f.label :email, "E-Mail" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Passwort" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  
  <div class="checkbox">
    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Angemeldet bleiben.</span>
    <% end %>
  </div>
  
  <%= f.submit "Anmelden", class: "btn btn-primary" %>
<% end %>

<p>Neuer Benutzer? <%= link_to "Jetzt registrieren!", signup_path %></p>