<div class="row">
  <div class="col-xs-10">
    <%= form_tag({action: :save_stoffe_zuordnung}, multipart: true, class: "form-horizontal") do %>
      <div class="form-group">
        
        <label for="stoff" class="col-xs-3 control-label"><code><%= synonym.synonym %></code></label>
        
        <div class="col-xs-9">
          <%= select_tag :stoff, options_for_select(@all_stoffe), class: "form-control" %>
          <%= hidden_field_tag 'synonym', synonym.id %>
          <%= submit_tag "Zuordnung vornehmen" %>
        </div>
      
      </div>
    <% end %>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-success" data-toggle="modal" data-target="#stoffModal">Neuer Stoff</button>
  </div>
  
</div> 
