<h1>Datei eingelesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Fertig eingelesen</h2>
  </div>
  <div class="panel-body">
  <p>
    Danke für die Geduld. 
    <% if @transporte_anzahl %>
      Es wurden <%= @transporte_anzahl %> Transporte eingelesen und neu erstellt.
    <% end %>
    </p>
      <% if @transporte_liste %>
        Die folgenden Transporte waren schon in der Datenbank vorhanden oder enthielten Fehler und wurden nicht hinzugefügt:
      <ul>
        <% @transporte_liste.each do |row_count, transport | %>
	      <li>Zeile <%=row_count %>: 
	         Von <%= transport.start_anlage %> nach 
             <%= transport.ziel_anlage %> am <%=transport.datum %>
	      </li>
        <% end %>
      </ul>
    <% end %>
  </div> 
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Was willst du als nächstes tun?</h2>
  </div>
  <div class="panel-body">

    </p>
    <p>
      <%= link_to "Neue Datei einlesen", upload_index_path %>
    </p>
    <p>
      <%= link_to "Zur Startseite", welcome_index_path %>
    </p>
  </div>
</div>
