<h1>Datei einlesen</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Scnritt 4: Transporte einlesen</h2>
  </div>
  <div class="panel-body">
    <%= form_tag({action: :save_transporte}, multipart: true, class: "form-horizontal") do %>
      <h3>Spaltenzuordnung</h3>
      <p>Im Folgenden muss zugeordnet werden, welche Angaben sich in welcher Spalte befinden.</p>
      
      <h4>Unbedingt erforderliche Grundeingaben</h4>
      <fieldset disabled>
      <div class="form-group">
        <label class="col-sm-2 control-label">Start-Anlage</label>
        <div class="col-sm-10">
          <select id="disabledSelect" class="form-control">
            <option><%= session[:spalte_start] %></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Ziel-Anlage</label>
        <div class="col-sm-10">
          <select id="disabledSelect" class="form-control">
            <option><%= session[:spalte_ziel] %></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Stoff</label>
        <div class="col-sm-10">
          <select id="disabledSelect" class="form-control">
            <option><%= session[:spalte_stoff] %></option>
          </select>
        </div>
      </div>
      </fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label">Datum des Transports</label>
        <div class="col-sm-10">
          <%= select_tag :datum, options_for_select(@headers), class: "form-control"  %>
        </div>
      </div>

      <h4>Angaben zur transportierten Menge </h4>
      <div class="form-group">
        <label class="col-sm-2 control-label">Brutto-Masse (inklusive Behälter)</label>
        <div class="col-sm-5">
          <%= select_tag :menge_brutto, options_for_select(@headers_with_nil), class: "form-control"  %>
        </div>
        <div class="col-sm-5">
          <p>Umrechnungsfaktor zu kg: <%= text_field_tag :menge_brutto_umrechnungsfaktor, "1" %></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Netto-Masse des radioaktiven Stoffs</label>
        <div class="col-sm-5">
          <%= select_tag :menge_netto, options_for_select(@headers_with_nil), class: "form-control"  %>
        </div>
        <div class="col-sm-5">
          <p>Umrechnungsfaktor zu kg: <%= text_field_tag :menge_netto_umrechnungsfaktor, "1" %></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Anzahl</label>
        <div class="col-sm-10">
          <%= select_tag :anzahl, options_for_select(@headers_with_nil), class: "form-control"  %> 
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Behältertyp</label>
        <div class="col-sm-10">
          <%= select_tag :behaelter, options_for_select(@headers_with_nil), class: "form-control"  %> 
        </div>
      </div>
      
       <!-- TODO: Einklappbar, falls keine Genehmigungen vorhanden -->
      <!--<h4>Transportgenehmigung</h4>
      <p> 
      Zur Kenntnis: Die Sachen hier werden noch nicht eingelesen, da fehlt mir noch die richtige Idee für die Verknüpfung
        mit der Genehmigungstabelle.
      </p>
      <div class="form-group">
        <label class="col-sm-2 control-label">Genehmigungsnummer</label>
        <div class="col-sm-10">
          <%= select_tag :lfd_nr, options_for_select(@headers_with_nil), class: "form-control"  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Genehmigungsinhaber*in / Antragssteller*in</label>
        <div class="col-sm-10">
          <%= select_tag :antragssteller, options_for_select(@headers_with_nil), class: "form-control"  %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Antragsdatum</label>
        <div class="col-sm-10">
          <%= select_tag :antragsdatum, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Maximale Anzahl</label>
        <div class="col-sm-10">
          <%= select_tag :max_anzahl, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Genehmigung für Schienentransporte?</label>
        <div class="col-sm-10">
          <%= select_tag :schiene, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Genehmigung für Straßentransporte?</label>
        <div class="col-sm-10">
          <%= select_tag :strasse, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Genehmigung für Seetransporte?</label>
        <div class="col-sm-10">
          <%= select_tag :see, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Genehmigung für Lufttransporte?</label>
        <div class="col-sm-10">
          <%= select_tag :luft, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Genehmigung für den Umschlag?</label>
        <div class="col-sm-10">
          <%= select_tag :umschlag, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Erstellungsdatum</label>
        <div class="col-sm-10">
          <%= select_tag :erstellungsdatum, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Gültigkeit</label>
        <div class="col-sm-10">
          <%= select_tag :gueltigkeit, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>-->
        
      
      <h4>Daten zum Umschlag</h4>
      <p> Damit die Umschläge und Transportabschnitte sinnvoll erstellt werden können zum Transport, ist eine Spalte, in der steht, ob es sich um einen Abtransport (ja) oder Antransport (nein) handelt.
      </p>
      <div class="form-group">
        <label class="col-sm-2 control-label">Abtransport (ja oder nein)</label>
        <div class="col-sm-10">
          <%= select_tag :abtransport, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Umschlagort</label>
        <div class="col-sm-10">
          <%= select_tag :umschlag_ort, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Terminal</label>
        <div class="col-sm-10">
          <%= select_tag :umschlag_terminal, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Ankunft-Zeit Schiff (Datum + Uhrzeit)</label>
        <div class="col-sm-5">
          <%= select_tag :umschlag_ankunft_datum, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
        <div class="col-sm-5">
          <%= select_tag :umschlag_ankunft_zeit, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Abfahrt-Zeit Schiff (Datum + Uhrzeit)</label>
        <div class="col-sm-5">
          <%= select_tag :umschlag_abfahrt_datum, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
        <div class="col-sm-5">
          <%= select_tag :umschlag_abfahrt_zeit, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Reederei</label>
        <div class="col-sm-10">
          <%= select_tag :reederei, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Schiff</label>
        <div class="col-sm-10">
          <%= select_tag :schiff, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-2 control-label">LKW</label>
        <div class="col-sm-10">
          <%= select_tag :lkw, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Bahn</label>
        <div class="col-sm-10">
          <%= select_tag :bahn, options_for_select(@headers_with_nil), class: "form-control" %>
        </div>
      </div>
      
      <h4>Weitere Daten zu Transportabschnitten </h4>
      <p>Zu jedem der hier angegeben Daten wird ein entsprechender Transportabschnitt angelegt, da davon ausgegangen wird, das ein Transportabschnitt nur von einer Firma durchgeführt wird.</p>
      <div class="form-group">
        <label class="col-sm-2 control-label">Transportunternehmen</label>
        <div class="col-sm-10">
          <%= select_tag :firmen, options_for_select(@headers_with_nil), class: "form-control" %>
          <p>Mehrere Transportunternehmen werden mit dem Trennzeichen <%= text_field_tag :firma_trennzeichen, "," %> getrennt.</p>
        </div>
      </div>
  
      <h3>Einstellungen</h3>
      <div class="form-group">
        <div class="col-sm-12">
          <p>Wie soll mit Transporten verfahren werden, die schon in der Datenbank sind?</p>
          <%= select_tag :einstellung_vorhandene_transporte, options_for_select(@einstellungen_vorhandene_transporte), class: "form-control"  %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <p>Die <strong>Quelle</strong> der einzulesenden Tabelle ist (z.B. BfS-Genehmigungen, Hamburger Senat etc.)</p>
          <%= text_field_tag :quelle, "", class: "form-control" %>
        </div>
      </div>
      
    </div>
    <div class="panel-footer">
      <%= submit_tag "Transporte einlesen!" %>
    </div>
  <% end %>
</div>
