<h1>Datei einlesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h2>Scnritt 5: Transporte einlesen</h2>

<p>
  Im Folgenden muss zugeordnet werden, welche Angaben sich in welcher Spalte befinden.
</p>

<%= form_tag({action: :save_transporte}, multipart: true) do %>
  <p>
    Die Angabe zur <strong>Start-Anlage</strong> befindet sich in der Spalte mit dem Namen
    <%= text_field_tag :start_anlage %>
  </p>

  <p>
    Die Angabe zur <strong>Ziel-Anlage</strong> befindet sich in der Spalte mit dem Namen
    <%= text_field_tag :ziel_anlage %>
  </p>

  <p>
    Die Angabe zum <strong>Datum des Transports</strong> befindet sich in der Spalte mit dem Namen
    <%= text_field_tag :datum %>
  </p>

  <%= submit_tag "Transporte einlesen!" %>

<% end %>

<!-- Form einfügen um Spalten hinzuzufügen -->
<div>
     submit_tag "Weitere Spalte mit Daten eingeben"

</div> 

