<h1>Datei einlesen</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> Scnritt 4: Transporte einlesen</h2>
  </div>
  
  <div class="panel-body">

  <p>
    Im Folgenden muss zugeordnet werden, welche Angaben sich in welcher Spalte befinden.
  </p>

<%= form_tag({action: :save_transporte}, multipart: true) do %>

  <div class="panel-heading">
    <h3 class="panel-title">Unbedingt erforderliche Grundeingaben</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      Die Angabe zur <strong>Start-Anlage</strong> befindet sich in der Spalte mit dem Namen 
      <%= session[:spalte_start] %> (Angabe bereits gemacht).
    </div>

    <div class="form-group">
      Die Angabe zur <strong>Ziel-Anlage</strong> befindet sich in der Spalte mit dem Namen 
      <%= session[:spalte_ziel] %> (Angabe bereits gemacht).
    </div>
    
    <div class="form-group">
      Die Angabe zum transportierten <strong>Stoff</strong> befindet sich in der Spalte mit dem Namen 
      <%= session[:spalte_stoff] %> (Angabe bereits gemacht).
    </div>
 
    <div class="form-group">
      Die Angabe zum <strong>Datum des Transports</strong> befindet sich in der Spalte mit dem Namen
      <%= select_tag :datum, options_for_select(@headers), class: "form-control"  %>
    </div>
  </div>
  
  <div class="panel-heading">
    <h3 class="panel-title">Einstellungen</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      Wie soll mit Transporten verfahren werden, die schon in der Datenbank sind?
      <%= select_tag :einstellung_vorhandene_transporte, options_for_select(@einstellungen_vorhandene_transporte), class: "form-control"  %>
    </div>

    <div class="form-group">
      Die <strong>Quelle</strong> der einzulesenden Tabelle ist (z.B. BfS-Genehmigungen, Hamburger Senat etc.):
      <%= text_field_tag :quelle %>
    </div>
  </div>



  <div class="panel-heading">
    <h3 class="panel-title">Angaben zur transportierten Menge </h3>
  </div>
  <div class="panel-body">

    <div class="form-group">
      Die Angabe zum transportierten <strong>Masse</strong> befindet sich in der Spalte mit dem Namen
      <%= select_tag :menge, options_for_select(@headers_with_nil), class: "form-control"  %> . 
      Umrechnungsfaktor um zu Tonnen zu kommen: <%= text_field_tag :menge_umrechnungsfaktor, "1" %>
    </div>
 
    <div class="form-group">
      Die Angabe zur <strong>Anzahl</strong> der transportierten Behälter befindet sich in der Spalte mit dem Namen
       <%= select_tag :anzahl, options_for_select(@headers_with_nil), class: "form-control"  %> 
    </div>

    <div class="form-group">
      Die Angabe zum <strong>Behältertyp</strong> befindet sich in der Spalte mit dem Namen
      <%= select_tag :behaelter, options_for_select(@headers_with_nil), class: "form-control"  %> 
    </div>
  </div>


  <div class="panel-heading">
    <h3 class="panel-title">Zur Genehmigung: </h3>
  </div>

<!-- TODO: Einklappbar, falls keine Genehmigungen vorhanden -->
  <div class="panel-body">
    <p> 
	  Zur Kenntnis: Die Sachen hier werden noch nicht eingelesen, da fehlt mir noch die richtige Idee für die Verknüpfung
      mit der Genehmigungstabelle.
    </p>
   

    <div class="form-group">
      Die Angabe zur <strong>Genehmigungsnummer</strong> befindet sich in der Spalte mit dem Namen
      <%= select_tag :lfd_nr, options_for_select(@headers_with_nil), class: "form-control"  %> 
    </div>

    <div class="form-group">
       Die Angabe zum/zur <strong>Genehmigungsinhaber*in / Antragssteller*in</strong>
       befindet sich in der Spalte mit dem Namen
       <%= select_tag :antragssteller, options_for_select(@headers_with_nil), class: "form-control"  %> 
    </div>

    <div class="form-group">
      <label for="">Antragsdatum</label>
      <%= select_tag :antragsdatum, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Maximale Anzahl</label>
      <%= select_tag :max_anzahl, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für Schienentransporte?</label>
      <%= select_tag :schiene, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für Straßentransporte?</label>
      <%= select_tag :strasse, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für Seetransporte?</label>
      <%= select_tag :see, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für Lufttransporte?</label>
      <%= select_tag :luft, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für den Umschlag?</label>
      <%= select_tag :umschlag, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Erstellungsdatum</label>
      <%= select_tag :erstellungsdatum, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Gültigkeit</label>
      <%= select_tag :gueltigkeit, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

  </div>
  
  <div class="panel-heading">
    <h3 class="panel-title">Weitere Daten zu Transportabschnitten </h3>
  </div>
  <div class="panel-body">
    <p> 
      Zu jedem der hier angegeben Daten wird ein entsprechender Transportabschnitt angelegt, da davon ausgegangen wird, das ein Transportabschnitt nur von einer Firma durchgeführt wird,.
    </p>
    <div class="form-group">
      <label for="">Transportunternehmen</label>
      <%= select_tag :firmen, options_for_select(@headers_with_nil), class: "form-control" %>
      Mehrere Transportunternehmen werden mit dem Trennzeichen
      <%= text_field_tag :firma_trennzeichen, "," %> getrennt.
    </div>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Daten zu Umschlagorten</h3>
  </div>
  <div class="panel-body">
    <p> 
      Zu jedem der hier angegeben Daten wird ein entsprechender Umschlag angelegt.

      Hier muss noch weiter gemacht werden.
    </p>
  </div>
  
  </div>

  <div class="panel-footer">
    <%= submit_tag "Transporte einlesen!" %>
  </div>
  
<% end %>

</div>
