<h1>Datei einlesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h2>Scnritt 4: Transporte einlesen</h2>

<p>
  Im Folgenden muss zugeordnet werden, welche Angaben sich in welcher Spalte befinden.
</p>

<%= form_tag({action: :save_transporte}, multipart: true) do %>

  <h3> Unbedingt erforderliche Grundeingaben </h3>
  <p>
    Die Angabe zur <strong>Start-Anlage</strong> befindet sich in der Spalte mit dem Namen
     <%= select_tag :start_anlage, options_for_select(@headers), class: "form-control" %>
  </p>

  <p>
    Die Angabe zur <strong>Ziel-Anlage</strong> befindet sich in der Spalte mit dem Namen
     <%= select_tag :ziel_anlage, options_for_select(@headers), class: "form-control" %>
  </p>

  <p>
    Die Angabe zum <strong>Datum des Transports</strong> befindet sich in der Spalte mit dem Namen
    <%= select_tag :datum, options_for_select(@headers), class: "form-control"  %>
  </p>

  <h3> Angaben zum transportierten Material </h3>

  <p>
    Die Angabe zum transportierten <strong>Stoff</strong> befindet sich in der Spalte mit dem Namen
     <%= select_tag :stoff, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>

  <p>
    Die Angabe zum transportierten <strong>Masse)</strong> befindet sich in der Spalte mit dem Namen
    <%= select_tag :menge, options_for_select(@headers_with_nil), class: "form-control"  %> . 
    Umrechnungsfaktor um zu Tonnen zu kommen: <%= text_field_tag :menge_umrechnungsfaktor, "1" %>
  </p>

  <p>
    Die Angabe zur <strong>Anzahl</strong> der transportierten Beh채lter befindet sich in der Spalte mit dem Namen
     <%= select_tag :anzahl, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>

  <p>
    Die Angabe zum <strong>Beh채ltertyp</strong> befindet sich in der Spalte mit dem Namen
    <%= select_tag :behaelter, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>

  <h3> Zur Genehmigung: </h3>

  Zur Kenntnis: Die Sachen hier werden noch nicht eingelesen, da fehlt mir noch die richtige Idee f체r die Verkn체pfung
  mit der Genehmigungstabelle.

  <p>
    Die Angabe zur <strong>Genehmigungsnummer</strong> befindet sich in der Spalte mit dem Namen
     <%= select_tag :genehmigung_nummer, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>

  <p>
    Die Angabe zum/zur <strong>Genehmigungsinhaber*in</strong> befindet sich in der Spalte mit dem Namen
    <%= select_tag :genehmigung_inhaberin, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>


  <%= submit_tag "Transporte einlesen!" %>

<% end %>

