<h1>Datei einlesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h2>Scnritt 4: Transporte einlesen</h2>

<p>
  Im Folgenden muss zugeordnet werden, welche Angaben sich in welcher Spalte befinden.
</p>

<%= form_tag({action: :save_transporte}, multipart: true) do %>

  <h3> Unbedingt erforderliche Grundeingaben </h3>
  <p>
    Die Angabe zur <strong>Start-Anlage</strong> befindet sich in der Spalte mit dem Namen
     <%= select_tag :start_anlage, options_for_select(@headers), class: "form-control" %>
  </p>

  <p>
    Die Angabe zur <strong>Ziel-Anlage</strong> befindet sich in der Spalte mit dem Namen
     <%= select_tag :ziel_anlage, options_for_select(@headers), class: "form-control" %>
  </p>

  <p>
    Die Angabe zum <strong>Datum des Transports</strong> befindet sich in der Spalte mit dem Namen
    <%= select_tag :datum, options_for_select(@headers), class: "form-control"  %>
  </p>

  <h3> Angaben zum transportierten Material </h3>

  <p>
    Die Angabe zum transportierten <strong>Stoff</strong> befindet sich in der Spalte mit dem Namen
     <%= select_tag :stoff, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>

  <p>
    Die Angabe zum transportierten <strong>Masse)</strong> befindet sich in der Spalte mit dem Namen
    <%= select_tag :menge, options_for_select(@headers_with_nil), class: "form-control"  %> . 
    Umrechnungsfaktor um zu Tonnen zu kommen: <%= text_field_tag :menge_umrechnungsfaktor, "1" %>
  </p>

  <p>
    Die Angabe zur <strong>Anzahl</strong> der transportierten Behälter befindet sich in der Spalte mit dem Namen
     <%= select_tag :anzahl, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>

  <p>
    Die Angabe zum <strong>Behältertyp</strong> befindet sich in der Spalte mit dem Namen
    <%= select_tag :behaelter, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>

  <h3> Zur Genehmigung: </h3>

<!-- TODO: Einklappbar, falls keine Genehmigungen vorhanden -->

  Zur Kenntnis: Die Sachen hier werden noch nicht eingelesen, da fehlt mir noch die richtige Idee für die Verknüpfung
  mit der Genehmigungstabelle.

  <p>
    Die Angabe zur <strong>Genehmigungsnummer</strong> befindet sich in der Spalte mit dem Namen
     <%= select_tag :genehmigung_nummer, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>

  <p>
    Die Angabe zum/zur <strong>Genehmigungsinhaber*in / Antragssteller*in</strong> befindet sich in der Spalte mit dem Namen
    <%= select_tag :antragssteller, options_for_select(@headers_with_nil), class: "form-control"  %> 
  </p>

    <div class="form-group">
      <label for="">Antragsdatum</label>
      <%= select_tag :antragsdatum, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Maximale Anzahl</label>
      <%= select_tag :max_anzahl, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für Schienentransporte?</label>
      <%= select_tag :schiene, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für Straßentransporte?</label>
      <%= select_tag :strasse, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für Seetransporte?</label>
      <%= select_tag :see, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für Lufttransporte?</label>
      <%= select_tag :luft, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Genehmigung für den Umschlag?</label>
      <%= select_tag :umschlag, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Erstellungsdatum</label>
      <%= select_tag :erstellungsdatum, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="">Gültigkeit</label>
      <%= select_tag :gueltigkeit, options_for_select(@headers_with_nil), class: "form-control" %>
    </div>


  <h3> Weitere Daten zu Transportabschnitten </h3>

  Zu jedem der hier angegeben Daten wird ein entsprechender Transportabschnitt angelegt, da davon ausgegangen wird, das ein Transportabschnitt nur von einer Firma durchgeführt wird,.

    <div class="form-group">
      <label for="">Transportunternehmen</label>
      <%= select_tag :gueltigkeit, options_for_select(@headers_with_nil), class: "form-control" %>
      Mehrere Transportunternehmen werden mit dem Trennzeichen
      <%= text_field_tag :firma_trennzeichen, "," %> getrennt.
    </div>

    <h3> Weitere Daten zu Umschlagorten, Zeiten usw. </h3>

    Zu jedem der hier angegeben Daten wird ein entsprechender Umschlag angelegt.

    Hier muss noch weiter gemacht werden.


  <div class="panel-footer">
    <%= submit_tag "Transporte einlesen!" %>
  </div>
<% end %>

