<h1>Datei einlesen</h1>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title">Schritt 2: Atomanlagen und Stoffe erkennen</h3>
  </div>
  
  <div class="panel-body">
    <%= form_tag({action: :read_anlagen}, multipart: true) do %> 
      <p>Bitte w채hle die Spalten aus, in der die Atomanlagen gespeichert sind, an denen der Transport begonnen und beendet wurde.</p>
      <div class="form-group">
        <label for="start">Startanlage</label>
        <%= select_tag 'start', options_for_select(@headers), class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="ziel">Zielanlage</label>
        <%= select_tag 'ziel', options_for_select(@headers), class: "form-control" %>
      </div>
      <p>Bitte w채hle die Spalte aus, in der Angaben 체ber die Art des transportierten Stoffs stehen.</p>
      <div class="form-group">
        <label for="stoff">Stoff / Inhalt:</label>
        <%= select_tag 'stoff', options_for_select(@headers), class: "form-control" %>
      </div>
      <!--
      <h3>Optional: Schiffe und Reedereien</h3>
      <p>Wenn Schiffs- und Reedereiangaben vorkommen, w채hle die Spalten aus, in denen entsprechende Angaben stehen.</p>
      <div class="form-group">
        <label for="stoff">Schiffsnamen:</label>
        <%= select_tag 'schiff', options_for_select(@headers_with_nil), class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="stoff">Reederei:</label>
        <%= select_tag 'reederei', options_for_select(@headers_with_nil), class: "form-control" %>
      </div>
-->
      <%= hidden_field_tag 'file_path', @file_path %>
    </div>
    
    <div class="panel-footer">
      <%= submit_tag "Atomanlagen erkennen", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
