<%= render @wert_modal %>

<h1>Datei einlesen</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title">
      <% if @typ == "anlage" %>
	Schritt 3: <%= @typ.pluralize.capitalize %> zuordnen
      <% else %>
        Schritt 4: <%= @typ.pluralize.capitalize %> zuordnen
      <% end %>
	</h3>
  </div>
  
  <div class="panel-body">
    
    <p>
	  Einige Bezeichnungen wurden nicht in der Datenbank gefunden. 
      Ordne diese den passenden Werten zu. Wenn es die <%= @typ.pluralize.capitalize %> noch nicht gibt, 
      einfach neu erstellen.
    </p>
    <% @synonym_liste.each do |synonym| %>
       <%= render_zuordnen_partial(@typ, synonym, @all_werte) %>
    <% end %>    
    
  </div>
  
</div>
