<%= form_for(@transportabschnitt) do |f| %>
  <% if @transportabschnitt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transportabschnitt.errors.count, "error") %> prohibited this transportabschnitt from being saved:</h2>

      <ul>
      <% @transportabschnitt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag :transport_id, (@transport ? @transport.id : nil) %>
  
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :start_datum %>
        <%= f.text_field :start_datum, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :start_ort %>
        <%= f.text_field  :start_ort, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :verkehrstraeger %>
        <%= f.text_field  :verkehrstraeger, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :end_datum %>
        <%= f.text_field  :end_datum, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :end_ort %>
        <%= f.text_field  :end_ort, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :firma %>
        <%= collection_select(:transportabschnitt, :firma_id, Firma.all, :id, :name) %>
        <%= link_to "Neue Firma anlegen", new_firma_path %>
      </div>
    </div>
  </div>
  
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
