<%= form_for(@transportabschnitt) do |f| %>
  <div class="btn-group header-buttons", class: "btn btn-primary">
     <%= f.submit %>
  </div>
  
  <h3> Transportabschnitt </h3>
 


  <% if @transportabschnitt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transportabschnitt.errors.count, "error") %> prohibited this transportabschnitt from being saved:</h2>

      <ul>
      <% @transportabschnitt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @transport %>
    <%= hidden_field_tag :transport_id, @transport.id %>
  <% end %>
  <% if @beobachtung_id %>
    <%= hidden_field_tag :beobachtung_id, @beobachtung_id %>
  <% end %>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Start</h2>
    </div>
    <div class="panel-body">
      <p>
        <strong>Startdatum des Transportabschnittes:</strong><br>
        <div class='input-group date' id='datetimepicker-start'>
              <%= f.text_field :start_datum, start_year:1999, class: "form-control" %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </p>
       <p>
        <strong>Anfangsort:</strong>
        <%= f.text_field  :start_ort, class: "form-control" %>
      </p>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Ende</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <strong>Ende des Transportabschnittes:</strong><br>
        <div class='input-group date' id='datetimepicker-ende'>
              <%= f.text_field :end_datum, start_year:1999, class: "form-control" %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
      <div class="form-group">
        <strong>Endort:</strong>
        <%= f.text_field :end_ort, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
      setup_datetimepicker("#datetimepicker-start")
      setup_datetimepicker("#datetimepicker-ende")
  </script>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Verkehrsmittel</h2>
    </div>
    <div class="panel-body">
      <div class="field">
        Verkehrstraeger: 
        <%= f.select :verkehrstraeger, options_for_select(VERKEHRSTRAEGER_COMBOBOX, "unbekannt"), class: "form-control" %>
      </div>
      <div class="field">
        Transportfirma:
        <%= collection_select(:transportabschnitt, :firma_id, Firma.all, :id, :name) %>
        <%= link_to "Neue Firma anlegen", new_firma_path %>
      </div>
    </div>
  </div>
 

  
<% end %>
