<%= render 'firmen/form_modal' %>
<%= render 'orte/form_modal', ort_typ: "Start" %>
<%= render 'orte/form_modal', ort_typ: "Ziel" %>

<%= form_for(@transportabschnitt) do |f| %>
 
  <% if @transportabschnitt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transportabschnitt.errors.count, "error") %> prohibited this transportabschnitt from being saved:</h2>

      <ul>
      <% @transportabschnitt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @transport %>
    <%= hidden_field_tag :transport_id, @transport.id %>
  <% end %>
  <% if @beobachtung_id %>
    <%= hidden_field_tag :beobachtung_id, @beobachtung_id %>
  <% end %>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Route </h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>Route</label>
        <%= collection_select(:transportabschnitt, :route_id, Route.all, :id, :name, {}, class: "form-control col-sm-10") %>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Start</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>Startdatum des Transportabschnittes</label>
        <div class='input-group date' id='datetimepicker-start'>
          <%= f.text_field :start_datum, start_year:1999, class: "form-control" %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :start_ort, "Anfangsort" %>
        <div class="input-group">
          <%= f.text_field :start_ort, disabled: true, class: "form-control" %>
          <span class="input-group-btn">
            <button class="btn btn-primary" id="start_ort_eingabe" data-toggle="modal" data-target="#ortModal-Start" type="button">Ort eingeben</button>
          </span>
          <% anlagen_ort = @transport.start_anlage.ort if @transport %>
          <% if anlagen_ort %>
            <span class="input-group-btn">
              <span class="btn btn-primary" id="start_ort_anlage" type="button" onclick="setup_start_ort_wahl(<%= anlagen_ort.id %>,'<%= anlagen_ort.name %>')">Start-Anlage als Ort wählen</span>
            </span>
          <% end %>
        </div>
      </div>
      <% if @transportabschnitt.start_ort %>
        <%= hidden_field_tag :start_ort_ident, @transportabschnitt.start_ort.id %>
      <% else %>
        <%= hidden_field_tag :start_ort_ident %>
      <% end %>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Ende</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>Ende des Transportabschnittes</label>
        <div class='input-group date' id='datetimepicker-ende'>
          <%= f.text_field :end_datum, start_year:1999, class: "form-control" %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :end_ort, "Endort" %>
        <div class="input-group">
          <%= f.text_field :end_ort, disabled: true, class: "form-control" %>
          <span class="input-group-btn">
            <button class="btn btn-primary" id="end_ort_eingabe" type="button" data-toggle="modal" data-target="#ortModal-Ziel" type="button">Ort eingeben</button>
          </span>
          <% anlagen_ort = @transport.ziel_anlage.ort if @transport%>
          <% if anlagen_ort %>
            <span class="input-group-btn">
              <span class="btn btn-primary" id="end_ort_anlage" type="button" onclick="setup_ziel_ort_wahl(<%= anlagen_ort.id %>,'<%= anlagen_ort.name %>')">Ziel-Anlage als Ort wählen</span>
            </span>
          <% end %>
        </div>
      </div>
      <% if @transportabschnitt.end_ort %>
        <%= hidden_field_tag :end_ort_ident, @transportabschnitt.end_ort.id %>
      <% else %>
        <%= hidden_field_tag :end_ort_ident %>
      <% end %>  
    </div>
  </div>
  
  <script type="text/javascript">
      setup_datetimepicker("#datetimepicker-start")
      setup_datetimepicker("#datetimepicker-ende")
  </script>
  
  <% if @transport %>
    <script type="text/javascript">
      //setup_start_und_ziel_anlagen_wahl(<%= @transport.start_anlage.ort %>, <%= @transport.ziel_anlage.ort %>)
    </script>
  <% end %>
    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Verkehrsmittel</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>Verkehrsträger</label>
        <%= f.select :verkehrstraeger, options_for_select(VERKEHRSTRAEGER_COMBOBOX, "unbekannt"), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Transportfirma</label>
        <div class="row">
          <div class="col-sm-9">
            <%= collection_select(:transportabschnitt, :firma_id, Firma.all, :id, :name, {}, class: "form-control col-sm-10") %>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#firmaModal-" type="button">Neue Firma</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
