<%= form_for(@transportabschnitt) do |f| %>
  <% if @transportabschnitt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transportabschnitt.errors.count, "error") %> prohibited this transportabschnitt from being saved:</h2>

      <ul>
      <% @transportabschnitt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag :transport_id, (@transport ? @transport.id : nil) %>
  
  <div class="row">
    <div class="col-sm-6">
      <p>
        <strong>Startdatum des Transportabschnittes:</strong>
        <%= f.text_field :start_datum %>
      </p>
       <p>
        <strong>Anfangsort:</strong>
        <%= f.text_field  :start_ort %>
      </p>
      <div class="field">
        Verkehrstraeger: 
        <%= f.text_field  :verkehrstraeger %>
      </div>
    </div>
    <div class="col-sm-6">
      <p>
        <strong>Ende des Transportabschnittes:</strong>
        <%= f.text_field  :end_datum %>
      </p>
       <p>
        <strong>Endort:</strong>
        <%= f.text_field  :end_ort %>
      </p>
      <div class="field">
        Transportfirma:
        <%= collection_select(:transportabschnitt, :firma_id, Firma.all, :id, :name) %>
        <%= link_to "Neue Firma anlegen", new_firma_path %>
      </div>
    </div>
  </div>
  
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
