<div class="row">
  <div class="col-xs-1">
    <p>•</p>
  </div>
  <div class="col-xs-11">
    <%= abschnitt.start_ort %> (<%= abschnitt.start_datum %>)
  </div>
</div>

<div class="row">
  <div class="col-xs-1">
    <p>|</p>
  </div>
  <div class="col-xs-11">
    <p>
      Verkehrsträger:
      <%= abschnitt.verkehrstraeger %>
    </p>
    <p>
      Transportfirma:
      <%= link_to abschnitt.firma.name, abschnitt.firma %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-1">
    <p>•</p>
  </div>
  <div class="col-xs-11">
    <%= abschnitt.end_ort %> (<%= abschnitt.end_datum %>)
  </div>
</div>