<div class="transportabschnitt">
  <% if abschnitt.verkehrstraeger == "Schiff" %>
    Schiffstransport
  <% elsif abschnitt.verkehrstraeger == "LKW" %>
    LKW-Transport
  <% elsif abschnitt.verkehrstraeger == "Flugzeug" %>
    Flugzeugtransport
  <% elsif abschnitt.verkehrstraeger == "Zug" %>
    Bahn-Transport
  <% else %>
    Transport mit unbekanntem Verkehrsträger
  <% end %>
  
  <% if abschnitt.start_ort && abschnitt.end_ort%>
    von <%= abschnitt.start_ort %> nach <%= abschnitt.end_ort %>
  <% end %>
  <% if abschnitt.start_datum && abschnitt.end_datum %>
    (<%= abschnitt.start_datum.strftime("%d.%m.%Y") %> – <%= abschnitt.end_datum.strftime("%d.%m.%Y") %>)
  <% end %>
  <br />
  <% unless abschnitt.route.nil? || abschnitt.route.name =="Unbekannt" %>
    <%= link_to "Route", abschnitt.route %>
    <%= "|" if is_editor? %>
  <% end %>
  
  <!--Ab hier Bearbeitungsfunktionen -->
  <% if is_editor? %>
    <%= link_to "Bearbeiten", edit_transportabschnitt_path(abschnitt) %>
    | <%= link_to 'Löschen', abschnitt, method: :delete, data: { confirm: 'Willst du den Transportabschnitt wirklich löschen?' } %>

    <br />
    <% if abschnitt.start_datum || abschnitt.start_ort %>
      <%= link_to "Abschnitt davor anlegen", new_transportabschnitt_path(transport_id: abschnitt.transport.id, abschnitt_danach: abschnitt.id) %>
      | 
    <% end %>
    <% if abschnitt.end_datum || abschnitt.end_ort  %>
      <%= link_to "Abschnitt danach anlegen", new_transportabschnitt_path(transport_id: abschnitt.transport.id, abschnitt_davor: abschnitt.id) %>
      | 
    <% end %>
    <% if abschnitt.start_datum || abschnitt.start_ort %>  
      <%= link_to "Umschlag davor anlegen", new_umschlag_path(transport_id: abschnitt.transport.id, abschnitt_danach: abschnitt.id) %>
      | 
    <% end %>
    <% if abschnitt.end_datum || abschnitt.end_ort %>
      <%= link_to "Umschlag danach anlegen", new_umschlag_path(transport_id: abschnitt.transport.id, abschnitt_davor: abschnitt.id) %>
    <% end %>
  <% end %>
  
  <% unless abschnitt.beobachtungen.empty? %>
      <br /> 
      Beobachtungen: 
      <% number = 1 %>
      <% abschnitt.beobachtungen.each do |beobachtung| %>
        <%= link_to beobachtung.ort.to_s, beobachtung %>, 
      <% end %>
  <% end %>
    
  
  <br />
</div>
