<p id="notice"><%= notice %></p>

<h2> Anzeige des Transportabschnitt von <%= @transportabschnitt.start_ort %> 
     nach <%= @transportabschnitt.end_ort %> 
</h2>

<% if @transport %>
  <h3> Transportgrunddaten</h3>
    <div class="btn-group header-buttons">
      <%= link_to 'Zur Transport-Anzeige', @transport , class: "btn btn-primary" %>  
    </div>
  <%= render "transporte/show_transport_grunddaten", transport: @transport %>
<% end %>

<h3> Transportabschnitt </h3>

  <div class="btn-group header-buttons">
    <%= link_to 'Bearbeiten', edit_transportabschnitt_path(@transportabschnitt) , class: "btn btn-primary" %> 
    <%= link_to 'Löschen', @transportabschnitt, method: :delete, data: { confirm: 'Willst du den Transportabschnitt wirklich löschen?' }, class: "btn btn-danger" %></td>
  </div>
<%= render "show_abschnitt", :abschnitt => @transportabschnitt %>


<h3> Beobachtungen / Durchfahrtsorte </h3>
<% if @transportabschnitt.beobachtungen %>

  
    <% @transportabschnitt.orte.each do |dort| %>
        <%= link_to dort, class: "btn btn-primary" %>,  
    <% end %>
  
    <%= form_tag transportabschnitt_path, method: 'get' do %>
      <div class="form-group">
        <%= text_field_tag :durch_ort, nil, class: "form-control", placeholder: "Durchfahrtsort hinzufügen" %>
      </div>
    <% end %>

    <% @transportabschnitt.beobachtungen.each do |beob| %>
      <div class="btn-group header-buttons">
        <%= link_to 'Beobachtung anzeigen', beob , class: "btn btn-primary" %>  
      </div>
      <!--Eckdaten Panel, zeigt Ort und Zeit der Beobachtung -->
      <%= render "beobachtungen/show_eckdaten", beobachtung: beob, titel: "Beobachtung #{beob.ort}" %>
    <% end %>
  

<% else %>


<% end %> 
