<h1>Ort bearbeiten</h1>

<%= form_for(@ort) do |f| %>
  <%= render "ort_eingabe", ort: @ort, titel: "Koordinaten" %>
  <%= hidden_field_tag :redirection, @redirection %>
  <%= link_to "Abbruch", @redirection, class: "btn btn-primary" %>
  <%= submit_tag "Aktualisieren", class: "btn btn-success" %>
<% end %>
