<h1>Ort bearbeiten</h1>

<%= form_for(@ort) do |f| %>
  <%= render "ort_eingabe", ort: @ort, titel: "Koordinaten" %>
  <%= hidden_field_tag :redirection, @redirection %>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Abbrechen', @ort, class: "btn btn-danger" %>
  </div>
<% end %>
