<%= link_to orte_path do %>
  <span class='glyphicon glyphicon-menu-left' aria-hidden='true'></span> Alle Orte
<% end %>

<h1>
  <%= @ort.name %>
  <% if is_editor? %>
    <div class="btn-group header-buttons">
      <%= link_to 'Bearbeiten', edit_ort_path(@ort), class: "btn btn-primary" %>
      <%= link_to 'Löschen', @ort, method: :delete, data: { confirm: 'Willst du den Ort wirklich löschen?' }, class: "btn btn-danger" %></td>
    </div>
  <% end %>
  <br>
</h1>

<div class="row">

  <div class="col-sm-6">
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ortsdaten</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Ortsname</dt>
            <dd><%= @ort.name %></dd>
            <dt>PLZ</dt>
            <dd><%= @ort.plz %></dd>
        </dl>      
      </div>
    </div>
    
    <% unless @ort.anlagen.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Anlagen</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @ort.anlagen.each do |anlage| %>
              <li>
                <%= link_to anlage.name, anlage %>
              </li>
            <% end %>
          </ul> 
        </div>
      </div>
    <% end %>
    
    <% unless @ort.transporte.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Transporte</h3>
        </div>
        <div class="panel-body">
          <%= render "transporte/show_only_tabelle", transporte: @ort.transporte %>
        </div>
      </div>
    <% end %>
    
    <% unless @ort.beobachtungen.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Beobachtungen (nach Datum)</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @ort.beobachtungen.each do |beobachtung| %>
              <li>
                <%= link_to (l beobachtung.ankunft_zeit), beobachtung %>
              </li>
            <% end %>
          </ul> 
        </div>
      </div>
    <% end %>
  </div>
 
  <div class="col-sm-6">
    <% if @ort.lat && @ort.lon %>
      <div id="map" class="panel" style="height:400px;"></div>
        <script type="text/javascript">
            schiffMap(<%= @ort.lat %>, <%= @ort.lon %>, 0)
          </script>
      </div>
    <% else %>
      <%= @ort.lat %>
      <%= @ort.lon %>
    <% end %>
</div>

<% unless @umkreis_orte.empty? && @namens_orte.empty? %>

  <h2> Ähnliche Orte zum Zusammenführen</h2>
  
  <div class="row">
    <div class="col-sm-6">
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Orte im Umkreis von 50km</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <% @umkreis_orte.each do |u_ort| %>
              <dt><%= link_to u_ort.name, u_ort %></dt>
              <dd><%= link_to "Zu diesem Ort hinzufügen", union_ort_path(@ort, add_ort_id: u_ort.id) %></dd>
            <% end %>
          </dl>   
        </div>
      </div>
    </div>
      
    <div class="col-sm-6">
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Orte mit ähnlichem Namen</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <% @namens_orte.each do |u_ort| %>
              <% unless u_ort.id == @ort.id %>
                <dt><%= link_to u_ort.name, u_ort %></dt>
                <dd><%= link_to "Zu diesem Ort hinzufügen", union_ort_path(@ort, add_ort_id: u_ort.id) %></dd>
              <% end %>
            <% end %>
          </dl>   
        </div>
      </div>
    </div>

  </div>

<% end %>
