<% unless @transporte.empty? %>

  <table class="table table-striped">
    <tbody>
      <% @transporte.each do |transport| %>
        <tr>
          <td>
            <%= link_to transport do
              render 'text_show'
            end %>
          </td>
          <td><%= l transport.datum %>: <strong><%= transport.stoff %></strong> von <%= link_to transport.start_anlage, transport.start_anlage %> nach <%= link_to transport.ziel_anlage, transport.ziel_anlage %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>
