<div class="center jumbotron">
  <h1>Herzlich willkommen bei der Atomtransport-Datenbank</h1>
  <p>Was möchtest du tun?</p>
  <ul>
    <li><%= link_to "Transportdaten aus csv-Dateien einlesen", upload_index_path %></li>
    <li><%= link_to "Daten zu Atomanlagen bearbeiten", anlagen_path %></li>
    <li><%= link_to "Daten zu Transportfirmen bearbeiten", firmen_path %></li>
    <li><%= link_to "Daten zu Transporten bearbeiten", transporte_path %></li>
    <li><%= link_to "Daten zu Beobachtungen bearbeiten", beobachtungen_path %></li>
    <li><%= link_to "Daten zu Umschlagorten bearbeiten", umschlagorte_path %></li>
  </ul>
</div>