<!--Tranport: <%= @transport %>-->

<%= form_for(@umschlag) do |f| %>
  <%= render 'layouts/objekt_error_messages', objekt: @umschlag %>
    
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Umschlagsdaten eingeben</h2>
        </div>
        <div class="panel-body">
    
    
          <%= hidden_field_tag :transport_id, (@transport ? @transport.id : nil) %>
          
              <div class="form-group">
                <strong>Terminal:</strong>
                <%= f.text_field  :terminal, class: "form-control" %>
              </div>

            
              <div class="form-group">
                <strong>Ankunft des Schiffes:</strong>
                <%= f.text_field  :start_datum, class: "form-control" %>
              </div>
              <div class="form-group">
                <strong>Abfahrt der Ladung:</strong>
                <%= f.text_field  :end_datum, class: "form-control" %>
              </div>
            
            
              <div class="form-group">
                  Firma (Umschlag): 
                  <%= collection_select(:umschlag, :firma_id, Firma.all.order(:name), :id, :name, class: "form-control") %>
              </div>
            
              <div class="form-group">
                  <%= link_to "Neue Firma anlegen", new_firma_path, class: "btn btn-success" %>
              </div>
           
         
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <%= hidden_field_tag :umschlag_ort, (@umschlag.ort ? @umschlag.ort.id : nil) %>
      <%= render "orte/ort_eingabe", titel: "Umschlagsort", ort: @umschlag.ort %>
    </div>
    
  </div>

  <div class="actions">
    <%= link_to "Abbruch", @transport, class: "btn btn-primary" %>
    <%= f.submit "Umschlag speichern", class: "btn btn-success" %>
    <% if @umschlag.id %>
      <%= link_to 'Löschen', @umschlag, method: :delete, data: { confirm: 'Willst du den Umschlag wirklich löschen?' }, class: "btn btn-danger" %></td>
    <% end %>
  </div>
<% end %>
