Tranport: <%= @transport %>

<%= form_for(@umschlag) do |f| %>
  <% if @umschlag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@umschlag.errors.count, "error") %> prohibited this umschlag from being saved:</h2>

      <ul>
      <% @umschlag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag :transport_id, (@transport ? @transport.id : nil) %>
  
  <div class="row">
    <div class="col-sm-6">
      <p>
        <strong>Umschlagsort:</strong>
        <%= f.text_field :ort %>
      </p>
       <p>
        <strong>Terminal:</strong>
        <%= f.text_field  :terminal %>
      </p>
      <div class="field">
        Firma (Umschlag): 
        <%= collection_select(:umschlag, :firma_id, Firma.all, :id, :name) %>
        <%= link_to "Neue Firma anlegen", new_firma_path %>
      </div>
    </div>
    <div class="col-sm-6">
      <p>
        <strong>Ankunft des Schiffes:</strong>
        <%= f.text_field  :start_datum %>
      </p>
       <p>
        <strong>Abfahrt der Ladung:</strong>
        <%= f.text_field  :end_datum %>
      </p>
    </div>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
