<h4> Umschlag in <%= umschlag.ort %></h4>
<div class="row">
  <div class="col-sm-6">
    <p>
      <strong>Firma:</strong>
      <%= umschlag.firma %>
    </p>
  </div>
    <p>
      Terminal
      <%= umschlag.terminal %>
    </p>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>
      Ankunft:
      <%= umschlag.start_datum %>
    </p>

    <p>
      Abfahrt:
      <%= umschlag.end_datum %>
    </p>
  </div>
</div>
