<div class="umschlag">
  Umschlag 
  <% if umschlag.ort %>
     in <%= umschlag.ort %>
  <% end %>
  
  <%= link_to "Details", umschlag %>
  <% if is_editor? %>
    | <%= link_to "Bearbeiten", edit_umschlag_path(umschlag) %>
    | <%= link_to 'Löschen', umschlag, method: :delete, data: { confirm: 'Willst du den Transportabschnitt wirklich löschen?' } %>
    
    <% if umschlag.start_datum || umschlag.ort %>
      | <%= link_to "Abschnitt davor anlegen", new_transportabschnitt_path(transport_id: umschlag.transport.id, umschlag_danach: umschlag.id) %>
    <% end %>
    <% if umschlag.end_datum || umschlag.ort %>
      | <%= link_to "Abschnitt danach anlegen", new_transportabschnitt_path(transport_id: umschlag.transport.id, umschlag_davor: umschlag.id) %>
    <% end %>
  <% end %>
  
  
</div>
