<%= form_for(@firma) do |f| %>
  <%= render 'layouts/objekt_error_messages', objekt: @firma %>


  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :beschreibung, "Beschreibung" %>
    <%= f.text_area :beschreibung, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Tätigkeiten</label>
    <div class="checkbox">
      <label><%= f.check_box :reederei %> Reederei</label>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Abbrechen', @firma, class: "btn btn-danger" %>
  </div>
<% end %>
