<h1>
  Transportfirmen
  <% if is_editor? %>
    <div class="btn-group header-buttons">
      <%= link_to 'Neue Transportfirma', new_firma_path, class: "btn btn-success" %>
    </div>
  <% end %>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Beschreibung</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @firmen.each do |firma| %>
      <tr>
        <td><%= link_to firma.name, firma %></td>
        <td><%= firma.beschreibung %></td>
        <td>
          <% if firma.reederei %>
            <span class="badge">Reederei</span>
          <% end %>
        </td>
        <td class="table-actions">
          <%= link_to edit_firma_path(firma) do
            render 'text_edit'
          end %>
          <%= link_to firma, method: :delete, data: { confirm: 'Willst du den Firma wirklich löschen?' } do
            render 'text_remove'
          end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
