<% if is_editor? %>
  <div class="btn-group header-buttons">
        <%= link_to 'Bearbeiten', edit_firma_path(@firma), class: "btn btn-primary" %>
        <%= link_to 'Löschen', @firma, method: :delete, data: { confirm: 'Willst du die Firma wirklich löschen?' }, class: "btn btn-danger" %></td>
  </div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @firma.name %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @firma.adresse %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @firma.plz %>
</p>

<p>
  <strong>Ort:</strong>
  <%= @firma.ort %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @firma.beschreibung %>
</p>

<%= link_to 'Edit', edit_firma_path(@firma) %> |
<%= link_to 'Back', firmen_path %>
