<h1>Listing umschlagorte</h1>

<table>
  <thead>
    <tr>
      <th>Ortsname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @umschlagorte.each do |umschlagort| %>
      <tr>
        <td><%= umschlagort.ortsname %></td>
        <td><%= link_to 'Show', umschlagort %></td>
        <td><%= link_to 'Edit', edit_umschlagort_path(umschlagort) %></td>
        <td><%= link_to 'Destroy', umschlagort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Umschlagort', new_umschlagort_path %>
