<div class="panel panel-default" id="show_aehnliche_panel">
    <%= hidden_field_tag "transport_id", transport.id %>
    <div class="panel-heading">
      <h2 class="panel-title">Gefundene Transporte</h2>
    </div>
    <div class="panel-body">
          <% if @transporte.nil? || @transporte.empty? %>
              <p>
                Passende Transporte wurden nicht gefunden.
              </p>
          <%  else %>
            <p>
               Wenn die Beobachtung zu einem der folgenden aufgelisteteten Transporte passt, wähle "Neuen Transportabschnitt anlegen"
               um einen neuen Transportabschnitt zum jeweiligen Transport zu erstellen, der automatisch dieser Beobachtung zugeordnet wird.
            </p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Start</th>
                  <th>Ziel</th>
                  <th>Stoff</th>
                  <th colspan="2"></th>
                </tr>
              </thead>

              <tbody>
                <% @transporte.each do |trans| %>
                  <tr>
                    <td><%= l trans.datum %></td>
                    <td><%= link_to trans.start_anlage, trans.start_anlage %></td>
                    <td><%= link_to trans.ziel_anlage, trans.ziel_anlage %></td>
                    <td><%= link_to trans.stoff, trans.stoff %></td>
                    <td><%= link_to 'Show', trans %></td>
                    <td><%= link_to 'Zu aktuellem Transport hinzufügen (löscht den hier)', union_transport_path(transport, add_transport: trans.id) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          
          <% end %>
    </div>
</div>
