<%= render 'stoffe/form_modal' %>
<%= render 'anlagen/form_modal' %>

<%= form_for(@transport) do |f| %>

  <% if @transport.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@transport.errors.count, "error") %> prohibited this transport from being saved:</h2>

              <ul>
              <% @transport.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
  <% end %>

  <div class="panel panel-default" id="transport_eingabe">
  
      <div class="panel-heading">
        <h2 class="panel-title">Neuen Transport eingeben</h2>
      </div>
      
      <div class="panel-body">
 
          <div class="form-group">
              <%= f.label :datum %> (Format: TT.MM.JJJJ) <br>
              <div class='input-group date' id='datetimepicker'>
                <%= f.text_field :datum, start_year:2010, class: "form-control" %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
              <script type="text/javascript">
              //javascript dafeur mehrfach benutzbar, also ausgelagert in setup_datetimepicker.js
              setup_datetimepicker('#datetimepicker')
              // javascript, um Erklärungen unter Fragezeichen anzuzeigen
              $(function () {
                  $('.glyphicon-question-sign').tooltip();
              });
            </script>
          </div>
        
            <div class="form-group">
              <label>Start-Anlage</label>
              <div class="row">
                <div class="col-sm-10">
                  <%= collection_select(:transport, :start_anlage_id, Anlage.all, :id, :name, {}, class:"form-control") %>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-success" data-toggle="modal" data-target="#anlagenModal-" type="button">Neue Anlage</button>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label>Ziel-Anlage</label>
              <div class="row">
                <div class="col-sm-10">
                  <%= collection_select(:transport, :ziel_anlage_id, Anlage.all, :id, :name, {}, class:"form-control") %>
                </div>
                <div class="col-sm-2">
                  <a class="btn btn-success" data-toggle="modal" data-target="#anlagenModal-" type="button">Neue Anlage</a>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :stoff %>
              <div class="row">
                <div class="col-sm-10">
                  <%= collection_select(:transport, :stoff_id, Stoff.all, :id, :bezeichnung, {}, class: "form-control") %>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-success" data-toggle="modal" data-target="#stoffModal-" type="button">Neuer Stoff</button>
                </div>
              </div>
            </div>


          <div class="form-group">
            <%= f.label :menge_brutto, "Brutto-Menge (inklusive Behälter in Tonnen)" %><br>
            <%= f.text_field :menge_brutto, class:"form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :menge_netto, "Netto-Menge (ohne Behälter in Tonnen)" %><br>
            <%= f.text_field :menge_netto, class:"form-control" %>
          </div>
         
          <div class="form-group">
            <%= f.label :behaelter %><br>
            <%= f.text_field :behaelter, class:"form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :anzahl %><br>
            <%= f.text_field :anzahl, class:"form-control" %>
          </div>
          
          <% if @beobachtung_id %>
            <%= hidden_field_tag :beobachtung_id, @beobachtung_id %>
          <% end %>
 

        <div class="actions">
          <%= link_to 'Abbruch', transporte_path, class: "btn btn-primary" %>
          <%= f.submit "Transport erstellen", class: "btn btn-success" %> 
        </div>
      </div>
  </div>
  

  
<% end %>
