
  <% if abschnitt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(abschnitt.errors.count, "error") %> prohibited this transport from being saved:</h2>

      <ul>
      <% abschnitt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-sm-6">
      <p>
        <strong>Start des Transportabschnittes:</strong>
        <%= text_field_tag "#{abschnitt.id}_startdatum" %>
      </p>
       <p>
        <strong>Anfangsort:</strong>
        <%= text_field_tag :start_ort %>
      </p>
      <div class="field">
        Verkehrstraeger: 
        <%= text_field_tag :verkehrstraeger %>
      </div>
    </div>
    <div class="col-sm-6">
      <p>
        <strong>Ende des Transportabschnittes:</strong>
        <%= text_field_tag :end_datum %>
      </p>
       <p>
        <strong>Endort:</strong>
        <%= text_field_tag :end_ort %>
      </p>
      <div class="field">
        Transportfirma:
        <%= collection_select(:transportabschnitt, :firma_id, Firma.all, :id, :name) %>
        <%= link_to "Neue Firma anlegen", new_firma_path %>
      </div>
    </div>
  </div>
  
 
