<%= form_for(@transport) do |f| %>
  <% if @transport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transport.errors.count, "error") %> prohibited this transport from being saved:</h2>

      <ul>
      <% @transport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datum %><br>
    <%= f.text_field :datum %>
  </div>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.text_field :start_anlage %>
  </div>
  <div class="field">
    <%= f.label :ziel %><br>
    <%= f.text_field :ziel_anlage %>
  </div>


  <div class="field">
    <%= f.label :menge %><br>
    <%= f.text_field :menge %>
  </div>
  <div class="field">
    <%= f.label :stoff %><br>
    <%= f.text_field :stoff %>
  </div>
  <div class="field">
    <%= f.label :behaelter %><br>
    <%= f.text_field :behaelter %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
