

<div class="row">
  <div class="col-sm-6">
    <h3>Rahmendaten</h3>
    <p>
      <strong>Datum:</strong>
      <%= l transport.datum %>
    </p>

    <p>
      <strong>Startanlage:</strong>
      <%= link_to transport.start_anlage.name, transport.start_anlage %>
    </p>

    <p>
      <strong>Zielanlage:</strong>
      <%= link_to transport.ziel_anlage.name, transport.ziel_anlage %>
    </p>
    <p>
      <strong>Anzahl Transporte (z.B. Anzahl LKW):</strong>
      <%= transport.anzahl ? transport.anzahl : "keine Angabe" %>
    </p>
    <p>
      <strong>Quelle:</strong>
      <%= transport.quelle %>
    </p>
  </div>
    
  <div class="col-sm-6">
    <h3>Transportierter Stoff</h3>
    <p>
      <strong>Stoff:</strong>
      <%= link_to transport.stoff, transport.stoff %>
    </p>

    <p>
      <strong>Netto-Menge:</strong>
      <%= transport.menge_netto ? "#{transport.menge_netto} kg" : "keine Angabe" %>
    </p>
    <p>
      <strong>Brutto-Menge:</strong>
      <%= transport.menge_brutto ? "#{transport.menge_brutto} kg" : "keine Angabe" %>
    </p>
    <p>
      <strong>Behälter-Typ:</strong>
      <%= transport.behaelter ? transport.behaelter : "keine Angabe" %>
    </p>
    
    
   

  </div>
</div>
