<% if @transporte.empty? %>
  <p>Keine Transporte gefunden.</p>
<% else %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Start</th>
        <th>Ziel</th>
        <th>Stoff</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transporte.each do |transport| %>
        <tr>
          <td><%= transport.datum %></td>
          <td><%= link_to transport.start_anlage, transport.start_anlage %></td>
          <td><%= link_to transport.ziel_anlage, transport.ziel_anlage %></td>
          <td><%= transport.stoff %></td>
          <td><%= link_to 'Show', transport %></td>
          <td><%= link_to 'Bearbeiten', edit_transport_path(transport) %></td>
          <td><%= link_to 'Löschen', transport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>