<% unless transporte.empty? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Stoff</th>
        <% if mode == :an %>
          <th>Start</th>
        <% else %>
          <th>Ziel</th>
        <% end %>
        <% if is_editor? %>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% transporte.each do |transport| %>
        <tr>
          <td><%= link_to l(transport.datum), transport %></td>
          <td><%= link_to transport.stoff, transport.stoff %></td>
          <% if mode == :an %>
            <td><%= link_to transport.start_anlage, transport.start_anlage %></td>
          <% else %>
            <td><%= link_to transport.ziel_anlage, transport.ziel_anlage %></td>
          <% end %>
          <% if is_editor? %>
            <td class="table-actions">
              <%= link_to edit_transport_path(transport) do
                render 'text_edit'
              end %>
              <%= link_to transport, method: :delete, data: { confirm: 'Willst du den Transport wirklich löschen?' } do
                render 'text_remove'
              end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>
