<% if @transporte.empty? %>
  <p>Keine Transporte gefunden.</p>
<% else %>

  <table class="table table-striped transport-tabelle">
    <thead>
      <tr>
        <th></th>
        <th>Datum</th>
        <th>Start</th>
        <th>Ziel</th>
        <th>Stoff</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @transporte.each do |transport| %>
        <tr>
          <td>
            <%= link_to transport do
              render 'text_show'
            end %>
          </td>
          <td><%= l transport.datum %></td>
          <td><%= link_to transport.start_anlage, transport.start_anlage %></td>
          <td><%= link_to transport.ziel_anlage, transport.ziel_anlage %></td>
          <td><%= link_to transport.stoff, transport.stoff %></td>
          <% if is_editor? %>
            <td class="table-actions">
              <%= link_to edit_transport_path(transport) do
                render 'text_edit'
              end %>
              <%= link_to transport, method: :delete, data: { confirm: 'Willst du den Transport wirklich löschen?' } do
                render 'text_remove'
              end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  
  
<% end %>
