<%= render "show_transport_grunddaten" %>

<%= form_tag({action: :update_abschnitte}, multipart: true) do %>
  <div class="btn-group header-buttons">
      <%= submit_tag 'Änderungen speichern', class: "btn btn-primary" %>
  </div>
  <h3> Transportabschnitte </h3>

  <% @transport.transportabschnitte.each do |transport_abschnitt| %>
    <%= render "form_abschnitt", abschnitt: transport_abschnitt %>
  <% end %>

<% end %> 
 
 
<%= link_to 'Alle Transporte', transporte_path %>

