<h1>
  Transportdaten
  <% if is_editor? %>
    <div class="btn-group header-buttons">
      <%= link_to 'Bearbeiten', edit_transport_path(@transport) , class: "btn btn-primary" %>
      <%= link_to 'Löschen', @transport, method: :delete, data: { confirm: 'Willst du den Transport wirklich löschen?' }, class: "btn btn-danger" %></td>
    </div>
  <% end %>
</h1>

<%= render "show_transport_grunddaten", transport: @transport %>

<h3>Transportverlauf </h3>
<% if @transport.transportabschnitte.nil? || @transport.transportabschnitte.empty? %>
  Noch keine Transportabschnitte eingegeben.
  <%= link_to 'Neuer Transportabschnitt', new_transport_transportabschnitt_path(@transport) %> |
<% else %>
  <% @abschnitt_umschlag_list.each do |anzeigen| %>
    <% if anzeigen.is_a? Umschlag %>
      <%= render "umschlaege/show_umschlag", umschlag: anzeigen %>
    <% else %>
      <%= render "transportabschnitte/show_abschnitt", abschnitt: anzeigen %>
    <% end %>
  <% end %>
<% end %>
<p></p>
<% if is_editor? %>
  <%= link_to 'Neuer Transportabschnitt', new_transport_transportabschnitt_path(@transport), class: "btn btn-success" %> 
  <%= link_to 'Neuer Umschlag', new_transport_umschlag_path(@transport), class: "btn btn-success" %> 
  <%= link_to "Ähnliche Transporte zeigen", aehnliche_transporte_transport_path(@transport), class: "btn btn-primary" %>  
  <%= link_to 'Alle Transporte anzeigen', transporte_path, class: "btn btn-primary" %>
<% end %>
  
<h3>Karte</h3>
<div id="map" class="panel" style="height:400px;"></div>
<script type="text/javascript">
  allOrteMap("transporte/<%= @transport.id %>")
</script>
