<p id="notice"><%= notice %></p>


<p>
  <strong>Datum:</strong>
  <%= @transport.datum %>
</p>

<p>
  <strong>Start:</strong>
  <%= @transport.start_anlage.name %>
</p>

<p>
  <strong>Ziel:</strong>
  <%= @transport.ziel_anlage.name %>
</p>

<p>
  <strong>Menge:</strong>
  <%= @transport.menge %>
</p>

<p>
  <strong>Stoff:</strong>
  <%= @transport.stoff %>
</p>

<p>
  <strong>Behaelter:</strong>
  <%= @transport.behaelter %>
</p>

<%= link_to 'Edit', edit_transport_path(@transport) %> |
<%= link_to 'Back', transporte_path %>
