<h1>
  <%= @schiff.name %>
  <% if is_editor? %>
    <div class="btn-group header-buttons">
      <%= link_to 'Bearbeiten', edit_schiff_path(@schiff), class: "btn btn-primary" %>
      <%= link_to 'Löschen', @schiff, method: :delete, data: { confirm: 'Willst du das Schiff wirklich löschen?' }, class: "btn btn-danger" %></td>
    </div>
  <% end %>
  <br>
  <small><%= @schiff.firma %></small>
</h1>

<div class="row">

  <div class="col-sm-6">
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Aktuelle Daten</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <% if @schiff.current_destination %>
            <dt>Zielhafen</dt>
            <dd><%= @schiff.current_destination %></dd>
          <% end %>
          <% if @schiff.current_eta %>
            <dt>Erwartete Ankunfszeit</dt>
            <dd><%= @schiff.current_eta.strftime("%d.%m.%Y, %H:%M Uhr") %></dd>
          <% end %>
        </dl>      
      </div>
    </div>

    <% if @schiff.next_ports && !@schiff.next_ports.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Fahrplan</h3>
        </div>
        <table class="table">
          <tbody>
            <% @schiff.next_ports.sort_by {|k,v| k}.each do |date,port| %>
              <tr
                <% if date.past? %>
                  class="active"
                <% end %>>
                <td><%= date.strftime("%d.%m.%Y") %></td>
                <td><%= port %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    
  </div>
 
  <div class="col-sm-6">
    <% if @schiff.current_lat && @schiff.current_lon %>
      <div id="map" class="panel" style="height:400px;"></div>
        <script type="text/javascript">
            schiffMap(<%= @schiff.current_lat %>, <%= @schiff.current_lon %>, 0)
          </script>
      </div>
    <% end %>
  

</div>