<%= form_for(@anlage) do |f| %>

  <%= hidden_field_tag :redirect_params, @redirect_params %>
  <% if @anlage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anlage.errors.count, "error") %> prohibited this anlage from being saved:</h2>

      <ul>
      <% @anlage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br>
    <%= f.text_field :adresse %>
  </div>
  <div class="field">
    <%= f.label :plz %><br>
    <%= f.text_field :plz %>
  </div>
  <div class="field">
    <%= f.label :ort %><br>
    <%= f.text_field :ort %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br>
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :beschreibung %><br>
    <%= f.text_area :beschreibung %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
