<%= form_for(@anlage) do |f| %>

  <%= hidden_field_tag :redirect_params, @redirect_params %>
  <% if @anlage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anlage.errors.count, "error") %> prohibited this anlage from being saved:</h2>

      <ul>
      <% @anlage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= @anlage.ort.attributes if @anlage.ort %>

  <div class="row">
  
    <div class="col-sm-7">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :beschreibung %><br>
        <%= f.text_area :beschreibung, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :adresse %><br>
        <%= f.text_field :adresse, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :plz %><br>
        <%= f.text_field :plz, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :ort %><br>
        <%= f.text_field :ort, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :anlagen_kategorie, "Anlagenkategorie" %><br>
        <%= collection_select(:anlage, :anlagen_kategorie_id, AnlagenKategorie.all, :id, :name, class: "form-control") %>
      </div>
    </div>
    
    <div class="col-sm-5">
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Bild</h2>
        </div>
        <div class="panel-body">
          <p>Hier kann ein Link zu einem Bild der Anlage angegeben werden.
          <div class="form-group">
            <%= f.label :bild_url %><br>
            <%= f.text_field :bild_url, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :bild_urheber %><br>
            <%= f.text_field :bild_urheber, class: "form-control" %>
          </div>
        </div>
      </div>
    
      <!-- TODO: noch auf ort.lat/ort.lon umstellen -->
      <div class="panel panel-default" id="mapedit" >
        <div class="panel-heading">
          <h2 class="panel-title">Standort</h2>
        </div>
        <div class="panel-body">
          <p>Klicke auf die Karte, um den Standort genau festzulegen.</p>
          <input type="text" name="search" placeholder="Hier zukünftig suchen" id="search" class="form-control">
            <!-- f.hidden_field :lat, class: "form-control" -->
            <!-- f.hidden_field :lon, class: "form-control" -->
            <%= hidden_field_tag :lat, (@anlage.ort ? @anlage.ort.lat : nil) %>
            <%= hidden_field_tag :lon, (@anlage.ort ? @anlage.ort.lon : nil) %>
        </div>
        
        <div id="map" style="height: 300px;"></div>
        <!-- Javascript im Ordner app/assets/javascripts ablegen -->
        <script>
          geomap("ort");
        </script>
        
      </div>
      
    </div>
 
  </div>
  
  <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
