<% if is_editor? %>
  <div class="btn-group header-buttons">
    <%= link_to 'Neue Atomanlage', new_anlage_path, class: "btn btn-success" %>
  </div>
<% end %>

<h1>Atomanlagen</h1>

<%= form_tag anlagen_path, method: 'get' do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Suchen" %>
  </div>
<% end %>

<% unless @anlagen %>

  <p>Keine Anlagen gefunden.</p>
  
<% else %>

  <div class="row">
    <% @anlagen.each do |anlage| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to anlage do %>
            <div class="thumbnail-div"
              <% if anlage.bild_url? %>
                style="background-image: url(<%= anlage.bild_url %>)"
              <% else %>
                style="background-image: url(http://upload.wikimedia.org/wikipedia/commons/1/16/Nuclear_power_plant_2D.svg)"
              <% end %>
            ></div>
          <% end %>
          <div class="caption">
            <h4><%= link_to anlage.name, anlage %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= will_paginate %>
  
<% end %>

