<%= link_to anlagen_path do %>
  <span class='glyphicon glyphicon-menu-left' aria-hidden='true'></span> Alle Anlagen
<% end %>

<h1>
  <%= @anlage.name %> 
  <% if is_editor? %>
    <div class="btn-group header-buttons">
      <%= link_to 'Bearbeiten', edit_anlage_path(@anlage), class: "btn btn-primary" %>
      <%= link_to 'Löschen', @anlage, method: :delete, data: { confirm: 'Willst du die Anlage wirklich löschen?' }, class: "btn btn-danger" %></td>
    </div>
  <% end %>
  <br>
  <small>
  <% unless @anlage.name.include?(@anlage.anlagen_kategorie.to_s) %>
    <%= @anlage.anlagen_kategorie %>
  <% end %>
  <!-- unless @anlage.name.include?(@anlage.ort.to_s) -->
  <% if @anlage.ort %>
    in <%= @anlage.ort.to_s %>
  <% end %>
  </small>
</h1>

<div class="row">
  <div class="col-sm-8">
    <% if @anlage.beschreibung? %>
      <p><%= @anlage.beschreibung %></p>
    <% end %>

    <% if is_editor? %>
      <h3> Synonyme für die Anlage </h3>
      <ul>
      <% @synonyme.each do |synonym| %>
        <li><%= synonym %></li>
      <% end %>
      </ul>
    <% end %>
      
  </div>
  <div class="col-sm-4">
    <% if @anlage.bild_url? %>
      <img src="<%= @anlage.bild_url %>" class="img-responsive" alt="<%= @anlage.name %>">
    <% end %>
    
    <% if @anlage.ort %>
      <%= render "orte/anzeige", ort: @anlage.ort %>
    <% end %>
    
  </div>
</div>

<div class="row">
  <% unless @transporte_ab.empty? %>
    <div class="col-sm-6">
      <h3>Transporte von hier</h3>
      <%= render "transporte/tabelle_anlagen", transporte: @transporte_ab, mode: :ab %>
    </div>
  <% end %>
  <% unless @transporte_an.empty? %>
    <div class="col-sm-6">
      <h3>Transporte hierher</h3>
      <%= render "transporte/tabelle_anlagen", transporte: @transporte_an, mode: :an %>
    </div>
  <% end %>
</div>

