<h1> Atomanlage: <%= @anlage.name %> </h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @anlage.name %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @anlage.adresse %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @anlage.plz %>
</p>

<p>
  <strong>Ort:</strong>
  <%= @anlage.ort %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @anlage.beschreibung %>
</p>

<% if @anlage.lat && @anlage.lon %>
  <div id="map" style="height:200px;"></div>
  <%= map(:center => { :latlng => [@anlage.lat, @anlage.lon], :zoom => 18 }) %>
<% end %>

<%= link_to 'Edit', edit_anlage_path(@anlage) %> |
<%= link_to 'Back', anlagen_path %>

