<% if is_editor? %>
  <div class="btn-group header-buttons">
        <%= link_to 'Bearbeiten', edit_anlage_path(@anlage), class: "btn btn-primary" %>
        <%= link_to 'Löschen', @anlage, method: :delete, data: { confirm: 'Willst du die Anlage wirklich löschen?' }, class: "btn btn-danger" %></td>
  </div>
<% end %>
<h1><%= @anlage.name %></h1>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-7">
    <% if @anlage.beschreibung? %>
      <p><%= @anlage.beschreibung %></p>
    <% end %>
    <p>
      <strong>Adresse:</strong>
      <%= @anlage.adresse %>
    </p>

    <p>
      <strong>Plz:</strong>
      <%= @anlage.plz %>
    </p>

    <p>
      <strong>Ort:</strong>
      <%= @anlage.ort %>
    </p>
    
    <p>
      <strong>Kategorie:</strong>
      <%= @anlage.anlagen_kategorie %>
    </p>

    <h3> Synonyme für die Anlage </h3>

    <ul>
    <% @synonyme.each do |synonym| %>
      <li><%= synonym %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-sm-5">
    <% if @anlage.bild_url? %>
      <img src="<%= @anlage.bild_url %>" class="img-responsive" alt="<%= @anlage.name %>">
    <% end %>

    <% if @anlage.lat? && @anlage.lon? %>
      <div id="map" style="height:200px;"></div>
      <%= map(:center => { :latlng => [@anlage.lat, @anlage.lon], :zoom => 15 }) %>
    <% end %>
  </div>
</div>

<h2>Transporte</h2>

<%= render 'transporte/tabelle' %>

<%= link_to 'Back', anlagen_path %>

