<%= form_for(@stoff) do |f| %>
  
  <%= render 'layouts/objekt_error_messages', objekt: @stoff %>
 
  <%= hidden_field_tag :redirect_params, @redirect_params %>
     
  <div class="form-group">
    <%= f.label :bezeichnung, "Bezeichung" %>
    <%= f.text_field :bezeichnung, class: "form-control" %>
  </div>
  <div class="row">
    <div class="form-group col-xs-6">
      <%= f.label :gefahr_nummer, "Gefahr-Nummer (optional)" %>
      <%= f.text_field :gefahr_nummer, class: "form-control" %>
    </div>
    <div class="form-group col-xs-6">
      <%= f.label :un_nummer, "UN-Nummer (optional)" %>
      <%= f.text_field :un_nummer, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :beschreibung, "Beschreibung (optional)" %>
    <%= f.text_area :beschreibung, class: "form-control" %>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to "Abbrechen", stoffe_path, class: "btn btn-danger" %>
  </div>
    
<% end %>
