<h1>Listing stoffe</h1>

<table>
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>Beschreibung</th>
      <th>Un nummer</th>
      <th>Gefahr nummer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stoffe.each do |stoff| %>
      <tr>
        <td><%= stoff.bezeichnung %></td>
        <td><%= stoff.beschreibung %></td>
        <td><%= stoff.un_nummer %></td>
        <td><%= stoff.gefahr_nummer %></td>
        <td><%= link_to 'Show', stoff %></td>
        <td><%= link_to 'Edit', edit_stoff_path(stoff) %></td>
        <td><%= link_to 'Destroy', stoff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stoff', new_stoff_path %>
