<div class="btn-group header-buttons">
  <%= link_to 'Neuen Stoff erstellen', new_stoff_path, class: "btn btn-success" %>
</div>

<h1>Radioaktive Stoffe</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>UN-Nummer</th>
      <th>Gefahrnummer</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stoffe.each do |stoff| %>
      <tr>
        <td><%= link_to stoff.bezeichnung, stoff %></td>
        <td><%= stoff.un_nummer %></td>
        <td><%= stoff.gefahr_nummer %></td>
        <td><%= link_to 'Bearbeiten', edit_stoff_path(stoff) %></td>
        <td><%= link_to 'Löschen', stoff, method: :delete, data: { confirm: 'Willst du den Stoff wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
