<%= link_to stoffe_path do %>
  <span class='glyphicon glyphicon-menu-left' aria-hidden='true'></span> Alle Stoffe
<% end %>

<h1>
  <%= @stoff.bezeichnung %>
  <% if is_editor? %>
    <div class="btn-group header-buttons">
      <%= link_to 'Bearbeiten', edit_stoff_path(@stoff), class: "btn btn-primary" %>
      <%= link_to 'Löschen', @stoff, method: :delete, data: { confirm: 'Willst du den Stoff wirklich löschen?' }, class: "btn btn-danger" %></td>
    </div>
  <% end %>
</h1>

<div class="pull-right">
  <%= render "gefahr_tafel", gefahr_nummer: @stoff.gefahr_nummer, un_nummer: @stoff.un_nummer %>
</div>
<p><%= @stoff.beschreibung %></p>

<h2>Transporte</h2>

<%= render 'transporte/tabelle' %>
