<div class="btn-group header-buttons">
      <%= link_to 'Bearbeiten', edit_stoff_path(@stoff), class: "btn btn-primary" %>
      <%= link_to 'Löschen', @stoff, method: :delete, data: { confirm: 'Willst du den Stoff wirklich löschen?' }, class: "btn btn-danger" %></td>
</div>
<h1><%= @stoff.bezeichnung %></h1>

<p id="notice"><%= notice %></p>

<div class="gefahrentafel pull-right">
  <div class="gefahr-nummer">
    <span><%= @stoff.gefahr_nummer %></span>
  </div>
  <div class="un-nummer">
    <span><%= @stoff.un_nummer %></span>
  </div>
</div>

<p><%= @stoff.beschreibung %></p>

<h2>Transporte</h2>

<%= render 'transporte/tabelle' %>