<% if durchfahrtsorte.empty? %>
  <p>Bisher keine Durchfahrtsorte erstellt.</p>
<% else %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>reihung</th>
        <th>Ortsname</th>
        <% if is_editor? %>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% durchfahrtsorte.each do |durchfahrt| %>
        <tr>
          <td><%= durchfahrt.reihung %></td>
          <td><%= link_to durchfahrt.ort.name, durchfahrt.ort %></td>
          <% if is_editor? %>
            <td class="table-actions">
              <%= unless durchfahrt.reihung == 1 then
                link_to schiebe_hoch_durchfahrtsort_path(durchfahrt) do
                  render 'text_up'
                end
              end %>
              <%= unless durchfahrt.reihung == durchfahrt.route.durchfahrtsorte.size then
                link_to schiebe_runter_durchfahrtsort_path(durchfahrt) do
                  render 'text_down'
                end
              end %>
              <%= link_to durchfahrt, method: :delete, data: { confirm: 'Willst du den Durchfahrtsort wirklich löschen?' } do
                render 'text_remove'
              end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>
