<%= form_for(@durchfahrtsort) do |f| %>

  <%= render 'layouts/objekt_error_messages', objekt: @durchfahrtsort %>
  
  <%= f.hidden_field :route_id %>
  
  <div class="row">
    
    <div class="col-sm-6">
      <div class="panel panel-default" >
        <div class="panel-heading">
          <h2 class="panel-title">Reihenfolge</h2>
        </div>
        <div class="panel-body">
          
          <div class="form-group">
            <%= f.label :reihung, "Index zum Einfügen" %>
            <%= f.number_field :reihung, min: 1, max: @last_index, class: "form-control" %>
          </div>
        </div>
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h3 class="panel-title">Bisherige Route</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= render "durchfahrtsorte/durchfahrtsorte_auflistung", durchfahrtsorte: @durchfahrtsort.route.ordered_durchfahrtsorte %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="actions">
        <%= f.submit class: "btn btn-success" %>
        <%= link_to 'Abbrechen', @durchfahrtsort.route, class: "btn btn-danger" %>
      </div>
      
    </div>
    <div class="col-sm-6">

      <%= render "orte/ort_eingabe", ort: @durchfahrtsort.ort, titel: "Ort eingeben" %>
        
    </div>
  </div>

  

<% end %>
