<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= typ %>-Anlage </h3>
  </div>
  <div class="panel-body">
  
    <div class="checkbox">
      <label>
        <%= check_box_tag "#{typ}-alle" %> Alle
      </label>
    </div>

    <div class="form-group">
      <label>Anlagen-Kategorie</label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Anlagen-Auswahl
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to "Alle", abfragen_index_path , class: "list-group-item" %></li>
          <% anlagen_kategorien.each do |kategorie| %>
            <li role="presentation">
              <%= link_to kategorie.name, abfragen_index_path(typ_kategorie.to_sym => kategorie.id), role: "menuitem" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="form-group">
      <label>Anlagen-Auswahl</label>
      <%= select_tag "#{typ}[]", options_from_collection_for_select(anlagen_auswahl, "id", "name", checked_anlagen), :multiple=>true, class: 'form-control' %>
    </div>
    
  </div>    
</div>
