<h1>Ausgewählte Transporte in Kalenderdarstellung</h1>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title calendar-title text-center">
          
          <%= form_tag({action: :calendar}, multipart: true, class: "calendar-form") do %>
            <% @transporte.each do |trans| %>
              <%= hidden_field_tag "transport_#{trans.id}", trans.id %>
            <% end %>
            <%= hidden_field_tag "year", @year - 1 %> 
            <%= button_tag(type: 'submit', class: "calendar-button") do %>
              <small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <%="#{@year - 1}"%></small>
            <% end %>
          <% end %>

          <%= "#{@year}" %>
      
          <%= form_tag({action: :calendar}, multipart: true, class: "calendar-form") do %>
            <% @transporte.each do |trans| %>
              <%= hidden_field_tag "transport_#{trans.id}", trans.id %>
            <% end %>
            <%= hidden_field_tag "year", @year + 1 %> 
            <%= button_tag(type: 'submit', class: "calendar-button") do %>
              <small><%="#{@year + 1}"%> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small>
            <% end %>
          <% end %>
        
        </h1>
      </div>
      
      <!-- Transporte sollen sich ueber mehrere Tage erstrecken mit durchgehender Linie -->
      <div class="panel-body calendar-body">
        <%= calendar @date do |date| %>
          <% if @transporte_per_day[date] %>
            <% 1.upto @max_key do |key| %>
              <% transport = @transporte_per_day[date][key] %>
              <% if transport %>
                <% if transport["umschlag"] %>
                  <div class="calendar_umschlag">
                  </div>
                  Umschlag
                <% else %>
                  <div class="calendar_transportabschnitt">
                  </div>
                <% end %>
                <p class="small info"> 
                  <%= link_to transport["transport"].to_short_s, transport["transport"] %>
                </p>
              <% else %>
                <p> . <br /> .
                </p>  
              <% end %>
            <% end %>
          <% end %>  
        <% end %>
      </div>
    
    </div>
