<h1>Ausgewählte Transporte</h1>

<div class="row">
  <div class="col-sm-8">
    <p><%= @dort %></p>
    <p> Zeitraum: <%= @zeitraum %></p>
    <p> Stoffe : <%= @stoffe ? @stoffe : "Alle" %> </p>
    <p> Start-Anlagen : <%= @start_anlagen ? @start_anlagen : "Alle"  %> </p>
    <p> Ziel-Anlagen : <%= @ziel_anlagen ? @ziel_anlagen : "Alle" %> </p>
    <p> Verkehrsträger: <%= @verkehrstraeger %></p>
  </div>
  
  <div class="col-sm-4">
    <%= form_tag({action: :show}, multipart: true) do %>
      <%= hidden_field_tag "year", @year %>
      <%= hidden_field_tag "start_datum", params["start_datum"] %>
      <%= hidden_field_tag "end_datum", params["end_datum"] %>
      <%= hidden_field_tag "stoffe", params["stoffe"] %>
      <%= hidden_field_tag "verkehrstraeger", params["verkehrstraeger"] %>
      <%= hidden_field_tag "start_anlagen", params["start_anlagen"] %>
      <%= hidden_field_tag "ziel_anlagen", params["ziel_anlagen"] %>
      <%= hidden_field_tag "dort", params["dort"] %>
      <div class="btn-group pull-right" role="group" aria-label="...">
        <%= submit_tag "Tabelle", class: "btn btn-primary" %>
        <button type="button" class="btn btn-primary active">Kalender</button>   
      </div>
      
    <% end %>
  </div>
</div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title calendar-title text-center">
          
          <%= form_tag({action: :calendar}, multipart: true, class: "calendar-form") do %>
            <% @transporte.each do |trans| %>
              <%= hidden_field_tag "transport_#{trans.id}", trans.id %>
            <% end %>
            <%= hidden_field_tag "year", @year - 1 %> 
            <%= button_tag(type: 'submit', class: "calendar-button") do %>
              <small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <%="#{@year - 1}"%></small>
            <% end %>
          <% end %>

          <%= "#{@year}" %>
      
          <%= form_tag({action: :calendar}, multipart: true, class: "calendar-form") do %>
            <% @transporte.each do |trans| %>
              <%= hidden_field_tag "transport_#{trans.id}", trans.id %>
            <% end %>
            <%= hidden_field_tag "year", @year + 1 %> 
            <%= button_tag(type: 'submit', class: "calendar-button") do %>
              <small><%="#{@year + 1}"%> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small>
            <% end %>
          <% end %>
        
        </h1>
      </div>
      
      <!-- Transporte sollen sich ueber mehrere Tage erstrecken mit durchgehender Linie -->
      <div class="panel-body calendar-body">
        <%= calendar @date do |date| %>
          <% if @transporte_per_day[date] %>
            <% 1.upto @max_key do |key| %>
              <% transport = @transporte_per_day[date][key] %>
              <% if transport %>
                <%= link_to transport["transport"] do %>
                  <% 
                    classes = ""
                    unless transport["first"]
                      classes += "calendar_not_first "
                    end
                    unless transport["last"]
                      classes += "calendar_not_last "
                    end
                  %>
                  <div style='background-color: <%= stringToColor transport["transport"].stoff.bezeichnung %>;' class="calendar_transportabschnitt <%= classes %>" data-toggle="tooltip" data-placement="top" title="<%= transport["transport"].to_html %>">
                  </div>
                <% end %>
              <% else %>
               <div class="platzhalter"></div>
              <% end %>
            <% end %>
          <% end %>  
        <% end %>
      </div>
      
      <script>
       // javascript, um Erklärungen unter Fragezeichen anzuzeigen
            $(function () {
                $('.calendar_transportabschnitt').tooltip({html:true});
            });
          </script>
    
    </div>
