<div class="btn-group header-buttons">
  <%= form_tag({action: :new}, multipart: true, class: "clearfix") do %>
    <%= hidden_field_tag "year", @year %>
    <%= render 'hidden_fields' %>
    <%= submit_tag "Zurück zur Auswahl", class: "btn btn-primary"  %>
  <% end %>
</div>

<h1>Ausgewählte Transporte</h1>

  <%= render 'auswahl_daten' %>

  <%= form_tag({action: :show}, multipart: true, class: "clearfix") do %>
    <%= hidden_field_tag "year", @year %>
    <%= render 'hidden_fields' %>
    <div class="btn-group pull-right" role="group" aria-label="...">
      <%= submit_tag "Tabelle", class: "btn btn-primary" %>
      <button type="button" class="btn btn-primary active">Kalender</button>   
    </div>
  <% end %>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title calendar-title text-center">
          
          <%= form_tag({action: :calendar}, multipart: true, class: "calendar-form") do %>
            <%= render 'hidden_fields' %>
            <%= hidden_field_tag "year", @year - 1 %> 
            <%= button_tag(type: 'submit', class: "calendar-button") do %>
              <small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <%="#{@year - 1}"%></small>
            <% end %>
          <% end %>

          <%= "#{@year}" %>
      
          <%= form_tag({action: :calendar}, multipart: true, class: "calendar-form") do %>
            <%= render 'hidden_fields' %>
            <%= hidden_field_tag "year", @year + 1 %> 
            <%= button_tag(type: 'submit', class: "calendar-button") do %>
              <small><%="#{@year + 1}"%> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small>
            <% end %>
          <% end %>
        
        </h1>
      </div>
      
      <!-- Transporte sollen sich ueber mehrere Tage erstrecken mit durchgehender Linie -->
      <div class="panel-body calendar-body">
        <%= calendar @date do |date| %>
          <% if @transporte_per_day[date] %>
            <% 1.upto @max_key do |key| %>
              <% transport = @transporte_per_day[date][key] %>
              <% if transport %>
                <%= link_to transport["transport"] do %>
                  <% 
                    classes = ""
                    unless transport["first"]
                      classes += "calendar_not_first "
                    end
                    unless transport["last"]
                      classes += "calendar_not_last "
                    end
                  %>
                  <div style='background-color: <%= stringToColor transport["transport"].stoff.bezeichnung %>;' class="calendar_transportabschnitt <%= classes %>" data-toggle="tooltip" data-placement="top" title="<%= transport["transport"].to_html %>">
                  </div>
                <% end %>
              <% else %>
               <div class="platzhalter"></div>
              <% end %>
            <% end %>
          <% end %>  
        <% end %>
      </div>
      
      <script>
       // javascript, um Erklärungen unter Fragezeichen anzuzeigen
            $(function () {
                $('.calendar_transportabschnitt').tooltip({html:true});
            });
          </script>
    
    </div>
