<%= form_tag({action: :show}, multipart: true) do %>
  <h1>
    Transport-Abfragen
    <div class="btn-group header-buttons">
      <%= submit_tag "Passende Transporte anzeigen", class: "btn btn-primary" %>
      <% if is_editor? %>
        <%= link_to 'Neuer Transport', new_transport_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </h1>

  <div class="row">
  
    <div class="col-sm-4">
      <%= render "zeit_auswahl_panel", start: @start_datum, ende: @end_datum %>
      <%= render "ort_auswahl_panel", ort_name: @ort_name, radius: @radius %>
      <%= render "auswahl_panel", typ: "Verkehrsträger", auswahl: VERKEHRSTRAEGER_COMBOBOX, checked: @checked_verkehrstraeger %>
    </div>
    
     
    <div class="col-sm-4">
      <%= render "anlagen_auswahl_panel", typ_kategorie: "start_kategorie",
                                      typ: "Start", 
                                      anlagen_auswahl: @start_anlagen,
                                      anlagen_kategorien: @anlagen_kategorien,
                                      checked_anlagen: @checked_start_anlagen %>

      <%= render "anlagen_auswahl_panel", typ_kategorie: "ziel_kategorie", 
                                      typ: "Ziel", 
                                      anlagen_auswahl: @ziel_anlagen,
                                      anlagen_kategorien: @anlagen_kategorien,
                                      checked_anlagen: @checked_ziel_anlagen %>
    </div>
    
    <div class="col-sm-4">
      <%= render "auswahl_panel", typ: "Stoff", auswahl: @stoff_auswahl, checked: @checked_stoffe %>
      <div class="btn-group header-buttons">
        <%= submit_tag "Passende Transporte anzeigen", class: "btn btn-primary" %>
      </div>
    </div>
    
  </div>

 
<% end %>
