<h1>Ausgewählte Transporte</h1>
<!--Params: <%= params %>-->
<p> Zeitraum: <%= @zeitraum %></p>
<p> Stoffe : <%= @stoffe ? @stoffe : "Alle" %> </p>
<p> Start-Anlagen : <%= @start_anlagen ? @start_anlagen : "Alle"  %> </p>
<p> Ziel-Anlagen : <%= @ziel_anlagen ? @ziel_anlagen : "Alle" %> </p>
<div class="col-sm-9">
    <%= render 'transporte/tabelle' %>
</div>

<% params %>

<%= form_tag({action: :calendar}, multipart: true) do %>

  <% @transporte.each do |trans| %>
    <%= hidden_field_tag "transport_#{trans.id}", trans.id %>
  <% end %>
  
  <%= hidden_field_tag "year", @year %> 

  <div class="col-sm-4">
    <%= submit_tag "In Kalenderdarstellung anzeigen" %>
  </div>

  
<% end %>
