<div class="btn-group header-buttons">
  <%= form_tag({action: :new}, multipart: true, class: "clearfix") do %>
    <%= hidden_field_tag "year", @year %>
    <%= render 'hidden_fields' %>
    <%= submit_tag "Zurück zur Auswahl", class: "btn btn-primary"  %>
  <% end %>
</div>

<h1>Ausgewählte Transporte</h1>

<%= render 'auswahl_daten' %>

<%= form_tag({action: :calendar}, multipart: true, class: "clearfix") do %>
  <%= hidden_field_tag "year", @year %>
  <%= render 'hidden_fields' %>
  <div class="btn-group pull-right" role="group" aria-label="...">
    <button type="button" class="btn btn-primary active">Tabelle</button> 
    <%= submit_tag "Kalender", class: "btn btn-primary" %>
  </div>
<% end %>
  
<%= render 'transporte/tabelle' %>


