<%= form_for(@beobachtung) do |f| %>
  <% if @beobachtung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beobachtung.errors.count, "error") %> prohibited this beobachtung from being saved:</h2>

      <ul>
      <% @beobachtung.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-sm-6">      
      <div class="panel panel-default" id="beobachtung_grunddaten" >
        <div class="panel-heading">
          <h3 class="panel-title">Richtung und Zeit</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :fahrtrichtung do %>
              Fahrtrichtung des Transports <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="z.B. Himmelsrichtung oder nächster Ort"></span>
            <% end %>
            <%= f.text_field :fahrtrichtung, class: "form-control" %>
          </div>
          <!--Javascript: Datum von abfahrts-zeit automatisch setzen bei veraenderung ankunfts_datum -->
          <div class="form-group">
            <%= f.label :ankunft_zeit, "Ankunftszeit" %>
            <div class='input-group date' id='datetimepicker-ankunft'>
              <%= f.text_field :ankunft_zeit, start_year:1999, class: "form-control" %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :abfahrt_zeit, "Abfahrtszeit" %>
            <div class='input-group date' id='datetimepicker-abfahrt'>
              <%= f.text_field :abfahrt_zeit, start_year:1999, class: "form-control" %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
          <script type="text/javascript">
            //javascript dafeur mehrfach benutzbar, also ausgelagert in setup_datetimepicker.js
            setup_datetimepicker('#datetimepicker-ankunft')
            setup_datetimepicker('#datetimepicker-abfahrt')
            // javascript, um Erklärungen unter Fragezeichen anzuzeigen
            $(function () {
                $('.glyphicon-question-sign').tooltip();
            });
          </script>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Verkehrsmittel</h3>
        </div>    
        <div class="panel-body"> 
          <p>Bitte vor dem weiteren Ausfüllen angeben!</p>
          <div class="form-group">
            <% if @beobachtung.verkehrstraeger == nil %>
              <%= f.select :verkehrstraeger, options_for_select(VERKEHRSTRAEGER_COMBOBOX, "unbekannt"), {}, class: "form-control" %>
            <% else %>
              <%= f.select :verkehrstraeger, options_for_select(VERKEHRSTRAEGER_COMBOBOX, @beobachtung.verkehrstraeger), {}, class: "form-control" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-sm-6">
      <%= render "orte/ort_eingabe", ort: @ort, titel: "Standort eintragen" %>
    </div>

  </div>
       
  <div class="panel panel-default" id="beobachtung_kennzeichnung" >
    <div class="panel-heading">
      <h3 class="panel-title">Kennzeichnung</h3>
    </div>    
    <div class="panel-body">
      <div class="row">
      
        <div class="col-sm-6">
          <h4>Gefahrzeichen</h4>
          <p>Wähle die Zeichen aus, die am Behälter angebracht waren.</p>
          <div class="btn-group" data-toggle="buttons">
            <% if @beobachtung.kennzeichen_radioaktiv %>
              <label class="btn btn-default active">
            <% else %>
              <label class="btn btn-default">
            <% end %>
                <%= f.check_box :kennzeichen_radioaktiv %> 
                <%= image_tag "radioaktiv.png", alt: "radioaktiv", size: "70x70", id: "radioaktiv_kennzeichen" %>
              </label>
            <% if @beobachtung.kennzeichen_aetzend %>
              <label class="btn btn-default active">
            <% else %>
              <label class="btn btn-default">
            <% end %>
                <%= f.check_box :kennzeichen_aetzend %>
                <%= image_tag "aetzend.png", alt: "ätzend", size: "70x70" %>
              </label>
            <% if @beobachtung.kennzeichen_spaltbar %>
              <label class="btn btn-default active">
            <% else %>
              <label class="btn btn-default">
            <% end %>
                <%= f.check_box :kennzeichen_spaltbar %>
                <%= image_tag "spaltbar.png", alt: "spaltbar", size: "70x70" %>
              </label>
            <% if @beobachtung.kennzeichen_umweltgefaehrdend %>
              <label class="btn btn-default active">
            <% else %>
              <label class="btn btn-default">
            <% end %>
                <%= f.check_box :kennzeichen_umweltgefaehrdend %>
                <%= image_tag "umweltgefaehrdend.png", alt: "umweltgefährdend", size: "70x70" %>
              </label>
          </div>
        </div>
        
        <div class="col-sm-6">
          <h4>Orangene Gefahrguttafel</h4>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :gefahr_nummer, "Obere Nummer" %>
                <%= f.text_field :gefahr_nummer, placeholder:"z.B. 78", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :un_nummer, "Untere Nummer" %>
                <%= f.text_field :un_nummer, placeholder:"z.B. 2978", class: "form-control" %>
              </div>
            </div>
            <div class="col-xs-6">
              <p>Beispiel:</p>
              <%= render "stoffe/gefahr_tafel", gefahr_nummer: "78", un_nummer: "2978" %>
            </div>
          </div>
        </div>
        
      </div>
    </div>   
  </div>
  
 
  
  
  <div class="panel panel-default" >
    <div class="panel-heading">
      <h3 class="panel-title">Beschreibung</h3>
    </div>    
    <div class="panel-body"> 
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <%= f.label :container_beschreibung do %>
            Beschreibung der Container/Ladung <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="z.B. Farbe, Größe, Logos, Form, Gestelle, Container-Nummern)"></span>
            <% end %>
            <%= f.text_area :container_beschreibung, placeholder:"z.B. zylinderförmige graue Behälter, füllen Container nicht aus", class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <%= f.label :anzahl_container, "Anzahl der Container" %>
            <%= f.number_field :anzahl_container, placeholder:1, class: "form-control", min:0 %>
          </div>
        </div>
        
       
      <script type="text/javascript">
        verkehrsmittel_wahl()
      </script>
      
      </div>
        
        <div class="beobachtung_zug">
          <div class="form-group">
            <%= f.label :lok_beschreibung do %>
            Beschreibung der Lok <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="z.B. Farbe, Aufschriften, Nummer, Eisenbahngesellschaft, Diesel oder elektrisch)"></span>
            <% end %>
            <%= f.text_field :lok_beschreibung, placeholder:"z.B. dunkelrot mit weißen Streifen, BE-24", class: "form-control" %>
          </div>
        </div>
        
        <div class="beobachtung_zug">
          <div class="form-group">
            <%= f.label :zug_beschreibung do %>
            Beschreibung des Zuges <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="z.B. welche Wagen kommen im ganzen Zug vor, in welcher Reihenfolge, wo sind die Uranwagen positioniert, gibt es Graffiti, wie viele Waggons hat der Zug?"></span>
            <% end %>
            <%= f.text_area :zug_beschreibung, 
                placeholder:"z.B. die Uranwaggons kommen zuerst, dahinter ca. 30 Kesselwagen mit Gefahrgut, dann einige Waggons mit Holz", 
                class: "form-control" %>
          </div>
        </div>
        <div class="beobachtung_lkw">
          <div class="form-group">
            <%= f.label :anzahl_lkw, "Anzahl LKW" %>
            <%= f.number_field :anzahl_lkw, placeholer: 1, class: "form-control", min:0 %>
          </div>
          <div class="form-group">
            <%= f.label :kennzeichen_lkw, "Auto-Kennzeichen der LKW" %>
            <%= f.text_field :kennzeichen_lkw, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :lkw_beschreibung do %>
            Beschreibung des LKW <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="z.B. Fahrgestell, Farbe, Aufschrift"></span>
            <% end %>
            <%= f.text_area :lkw_beschreibung, placeholder:"z.B. grüner LKW mit Auflieger", class: "form-control" %>
          </div>
        </div>
        <div class="beobachtung_schiff">
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.label :schiff_name, "Schiffsname auswählen oder eingeben" %>
            </div>
            <div class="col-sm-6">
              <%= f.select :schiff_id, options_for_select(@schiffe, @schiff_unbekannt), {}, class: "form-control" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :schiff_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :schiff_beschreibung, "Beschreibung des Schiffs (Größe, Aussehen, ...)" %>
            <%= f.text_area :schiff_beschreibung, placeholder:"z.B. ca. 200m lang, rote Außenwand, nur 3 Container an Deck", class: "form-control" %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :firma_beschreibung do %>
          Transportfirma <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="z.B. Reederei, Spedition, Bahnunternehmen"></span>
          <% end %>
          <%= f.text_field :firma_beschreibung, placeholder:"z.B. Kieserling", class: "form-control" %>
        </div>
      </div>
  </div>
        
  <div class="panel panel-default" >
    <div class="panel-heading">
      <h3 class="panel-title">Begleitumstände</h3>
    </div>    
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">  
            <div class="checkbox">
              <label>
                <%= f.check_box :polizei %> Polizei
              </label>
            </div>
            <div class="checkbox">
              <label>
                <%= f.check_box :hubschrauber %> Polizeihubschrauber
              </label>
            </div>
        </div>
         <div class="col-sm-8">    
            <div class="form-group">     
              <%= f.label :begleitung_beschreibung, "Weitere Beschreibung" %>
              <%= f.text_area :begleitung_beschreibung, class: "form-control" %>
            </div>
        </div>
      </div>
        
    </div>
  </div>
  <div class="panel panel-default" >
    <div class="panel-heading">
      <h3 class="panel-title">Foto und Kontakt (freiwillig)</h3>
    </div>    
    <div class="panel-body">       
        
        <div class="checkbox">
          <label>
            <%= f.check_box :foto %> Foto gemacht? (Nach der Eingabe der Beobachtung können Sie das Foto hochladen.)
          </label>
        </div>
        <div class="form-group">
          <%= f.label :email, "E-Mail-Adresse für Nachfragen (freiwillige Angabe)" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
