<%= form_for(@beobachtung) do |f| %>
  <% if @beobachtung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beobachtung.errors.count, "error") %> prohibited this beobachtung from being saved:</h2>

      <ul>
      <% @beobachtung.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="panel panel-default" id="mapedit" >
    <div class="panel-heading">
          <h2 class="panel-title">Eckdaten</h2>
    </div>
    <div class="panel-body">
			
			<div class="row">
				<div class="col-sm-6">
					
			    <div class="form-group">
            <%= f.label :ort %><br>
            <%= f.text_field :ort %><br>
            Klicke auf die Karte, um den Standort genau festzulegen.
          </div>
  
          <div class="form-group">
            Fahrtrichtung des Transports:<br>
            <%= f.text_field :fahrtrichtung %>
          </div>
					
		      
              <!--Javascript: Datum von abfahrts-zeit automatisch setzen bei veraenderung ankunfts_datum -->
              <div class="form-group">
                Ankunftszeit:
                <%= f.datetime_select(:ankunft_zeit, start_year:1990) %>
              </div>
            
              <div class="form-group">
                Abfahrtszeit:
                <%= f.datetime_select :abfahrt_zeit %>
              </div>
            
       
					
					
				</div>
				<div class="col-sm-5">

          <input type="text" name="search" placeholder="Hier zukünftig suchen" id="search" class="form-control">
            <%= f.hidden_field :lat, class: "form-control" %>
            <%= f.hidden_field :lon, class: "form-control" %>
            
          <div id="map" style="height: 300px;"></div>
          <script>
            geomap('beobachtung');
          </script> 
        </div>
      </div>
    </div>
        
        
        
  </div>
       
  <div class="panel panel-default" id="mapedit" >
    <div class="panel-heading">
          <h2 class="panel-title">Kennzeichnung</h2>
    </div>    
    <div class="panel-body">   
        <div class="form-group">
          <%= f.check_box :kennzeichen_radioaktiv %> 
          <%= image_tag "radioaktiv.jpg", alt: "radioaktiv", size: "70x70" %>
          
          <%= f.check_box :kennzeichen_aetzend %>
          <%= image_tag "aetzend.jpg", alt: "ätzend", size: "70x70" %>

          <%= f.check_box :kennzeichen_spaltbar %>
          <%= image_tag "spaltbar.jpg", alt: "spaltbar", size: "70x70" %>

          <%= f.check_box :kennzeichen_umweltgefaehrdend %>
          <%= image_tag "umweltgefaehrdend.jpg", alt: "umweltgefährdend", size: "70x70" %>
        </div>
        <strong>Orange Gefahrguttafel:</strong>
        <div class="form-group">
					<div class="row">
						<div class="col-sm-5">
							Obere Nummer (zweistellig):
							<%= f.text_field :gefahr_nummer %>
					  </div>
						<div class="col-sm-5">
							Untere Nummter (vierstellig):
							<%= f.text_field :un_nummer %>
					  </div>
					</div>
        </div>
    </div>   
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
          <h2 class="panel-title">Verkehrsmittel</h2>
    </div>    
    <div class="panel-body"> 
      <div class="field">
          Verkehrsmittel: 
          <%= f.select :verkehrstraeger, options_for_select(VERKEHRSTRAEGER_COMBOBOX) %><br>
          Nach der Auswahl soll sich der nächste Teil jeweils anpassen. 
          (Javascript entsprechend schreiben mit ein und Ausblenden je nach Auswahl)
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default" >
    <div class="panel-heading">
          <h2 class="panel-title">Beschreibung</h2>
    </div>    
    <div class="panel-body"> 
        <div class="form-group">
          Beschreibung der Container / Ladung:<br>
          <%= f.text_area :container_beschreibung %>
        </div>
        <div class="field">
          <%= f.label :anzahl_container %><br>
          <%= f.number_field :anzahl_container %>
        </div>
        
       
        <div class="beobachtung_zug">
					<div class="field">
						<%= f.label :lok_beschreibung %><br>
						<%= f.text_field :lok_beschreibung %>
					</div>
			  </div>
        
        
        <div class="beobachtung_zug">
          <div class="field">
            <%= f.label :zug_beschreibung %><br>
            <%= f.text_area :zug_beschreibung %>
          </div>
        </div>
        <div class="beobachtung_lkw">
          <div class="field">
            <%= f.label :anzahl_lkw %><br>
            <%= f.number_field :anzahl_lkw %>
          </div>
          <div class="field">
            <%= f.label :kennzeichen_lkw %><br>
            <%= f.text_field :kennzeichen_lkw %>
          </div>
          <div class="field">
            <%= f.label :lkw_beschreibung %><br>
            <%= f.text_area :lkw_beschreibung %>
          </div>
        </div>
        <div class="beobachtung_schiff">
          <div class="field">
            <%= f.label :schiff_name %><br>
            <%= f.text_field :schiff_name %>
          </div>
          <div class="field">
            <%= f.label :schiff_beschreibung %><br>
            <%= f.text_area :schiff_beschreibung %>
          </div>
        </div>
        
        <div class="form-group">
          Transportfirma (Aufschrift der Reederei, Spedition, Bahnunternehmen):<br>
          <%= f.text_field :firma_beschreibung %>
        </div>
      </div>
  </div>
        
  <div class="panel panel-default" >
    <div class="panel-heading">
          <h2 class="panel-title">Begleitumstände</h2>
    </div>    
    <div class="panel-body">     
        <div class="field">     
          <%= f.check_box :polizei %><%= f.label :polizei %>
        </div>
        <div class="field">
          <%= f.check_box :hubschrauber %><%= f.label :hubschrauber %>
        </div>
        <div class="field">
          <%= f.check_box :foto %> Foto gemacht? (Hochladen ermöglichen)
        </div>
        <div class="field">
          E-Mail-Adresse für Nachfragen:
          <%= f.text_field :email %>
        </div>
    </div>
  </div>
        <div class="actions">
          <%= f.submit %>
        </div>
<% end %>
