<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Beschreibung</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        
        <div class="col-sm-6">
          <p>
            <strong>Verkehrstr채ger:</strong>
            <%= beobachtung.verkehrstraeger %>
          </p>
          <p>
            <strong>Container-Beschreibung:</strong>
            <%= beobachtung.container_beschreibung %>
          </p>

          <p>
            <strong>Anzahl der Container:</strong>
            <%= beobachtung.anzahl_container %>
          </p>

          <% case beobachtung.verkehrstraeger %>
          <% when "LKW" then %>
            <p>
              <strong>Anzahl der LKW:</strong>
              <%= beobachtung.anzahl_lkw %>
            </p>
            
            <p>
              <strong>Kennzeichen der LKW:</strong>
              <%= beobachtung.kennzeichen_lkw %>
            </p>
            
            <p>
              <strong>Lkw beschreibung:</strong>
              <%= beobachtung.lkw_beschreibung %>
            </p>

          <% when "Zug" then %>
            <p>
              <strong>Beschreibung der Lok:</strong>
              <%= beobachtung.lok_beschreibung %>
            </p>
            <p>
              <strong>Beschreibung des Zugs:</strong>
              <%= beobachtung.zug_beschreibung %>
            </p>
          <% when "Schiff" then %>
            <p>
              <strong>Name des Schiffes:</strong>
              <% if beobachtung.schiff %>
                <%= link_to beobachtung.schiff.name, beobachtung.schiff %>
              <% elsif beobachtung.schiff_name %>
                <%= beobachtung.schiff_name %>
              <% end %>
            </p>
            
            <p>
              <strong>Beschreibung des Schiffes:</strong>
              <%= beobachtung.schiff_beschreibung %>
            </p>
          <% end %>


          <p>
            <strong>Firma:</strong>
            <%= beobachtung.firma_beschreibung %>
          </p>
          
          <p>
            <strong>Bewachung:</strong>
            <% if beobachtung.polizei %>
              Mit Polizeibegleitung.
            <% end %>
            <% if beobachtung.hubschrauber %>
              Mit Hubschrauber begleitet.
            <% end %>
          </p>

        </div>
        
        <div class="col-sm-6">
          <h4>Kennzeichnung: </h4>
          <%= render "stoffe/gefahr_tafel", gefahr_nummer: beobachtung.gefahr_nummer, un_nummer: beobachtung.un_nummer %>

          <% if beobachtung.kennzeichen_radioaktiv %>
            <%= image_tag "transportsign_radioactive.svg", alt: "radioaktiv", size: "70x70" %>
          <% end %>

          <% if beobachtung.kennzeichen_aetzend %>
            <%= image_tag "transportsign_corrosive.svg", alt: "채tzend", size: "70x70" %>
          <% end %>

          <% if beobachtung.kennzeichen_spaltbar %>
            <%= image_tag "transportsign_fissile.svg", alt: "spaltbar", size: "70x70" %>
          <% end %>

          <% if beobachtung.kennzeichen_umweltgefaehrdend %>
            <%= image_tag "transportsign_pollution.svg", alt: "umweltgef채hrdend", size: "70x70" %>
          <% end %>

          <% if foto_anzeige %>
            <h4>Foto:</h4>
            <% if beobachtung.foto_path %>
              <img src="/fotos/<%=beobachtung.foto_path%>" alt="Transport-Foto" width="400">
              <p>
                Aufgenommen von: <%= beobachtung.foto_recht %>
                <% if edit_allowed?(beobachtung.quelle)  %>
                  <p>
                    <%= link_to "Foto 채ndern", load_foto_beobachtung_path(beobachtung), class: "btn btn-primary"  %>
                  </p>
                <% end %>
              </p>
            <% else %>
              <% if edit_allowed?(beobachtung.quelle) %>
                <%= link_to "Foto hochladen", load_foto_beobachtung_path(beobachtung), class: "btn btn-primary"  %>
              <% end %>
            <% end %>
          <% end %>

        </div>
        
      </div>
    </div>
</div>
