<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Beschreibung</h2>
    </div>
    <div class="panel-body">
			<div class="row">
        
        <div class="col-sm-6">
          <p>
            <strong>Verkehrstraeger:</strong>
            <%= beobachtung.verkehrstraeger %>
          </p>
          <p>
            <strong>Container beschreibung:</strong>
            <%= beobachtung.container_beschreibung %>
          </p>

          <p>
            <strong>Anzahl container:</strong>
            <%= beobachtung.anzahl_container %>
          </p>

          <% case beobachtung.verkehrstraeger %>
          <% when "LKW" then %>
            <p>
              <strong>Anzahl lkw:</strong>
              <%= beobachtung.anzahl_lkw %>
            </p>
            
            <p>
              <strong>Kennzeichen lkw:</strong>
              <%= beobachtung.kennzeichen_lkw %>
            </p>
            
            <p>
              <strong>Lkw beschreibung:</strong>
              <%= beobachtung.lkw_beschreibung %>
            </p>

          <% when "Zug" then %>
            <p>
              <strong>Lok Beschreibung:</strong>
              <%= beobachtung.lok_beschreibung %>
            </p>
            <p>
              <strong>Zug beschreibung:</strong>
              <%= beobachtung.zug_beschreibung %>
            </p>
          <% when "Schiff" then %>
            <p>
              <strong>Schiff name:</strong>
              <%= beobachtung.schiff_name %>
            </p>
            
            <p>
              <strong>Schiff beschreibung:</strong>
              <%= beobachtung.schiff_beschreibung %>
            </p>
          <% end %>


          <p>
            <strong>Firma beschreibung:</strong>
            <%= beobachtung.firma_beschreibung %>
          </p>
          
          <p>
            <strong>Bewachung:</strong>
            <% if beobachtung.polizei %>
              Mit Polizeibegleitung.
            <% end %>
            <% if beobachtung.hubschrauber %>
              Mit Hubschrauber begleitet.
            <% end %>
          </p>

        </div>
        
        <div class="col-sm-6">
          <h4>Kennzeichnung: </h4>
          <%= render "stoffe/gefahr_tafel", gefahr_nummer: beobachtung.gefahr_nummer, un_nummer: beobachtung.un_nummer %>

          <% if beobachtung.kennzeichen_radioaktiv %>
            <%= image_tag "radioaktiv.jpg", alt: "radioaktiv", size: "70x70" %>
          <% end %>

          <% if beobachtung.kennzeichen_aetzend %>
            <%= image_tag "aetzend.jpg", alt: "ätzend", size: "70x70" %>
          <% end %>

          <% if beobachtung.kennzeichen_spaltbar %>
            <%= image_tag "spaltbar.jpg", alt: "spaltbar", size: "70x70" %>
          <% end %>

          <% if beobachtung.kennzeichen_umweltgefaehrdend %>
            <%= image_tag "umweltgefaehrdend.jpg", alt: "umweltgefährdend", size: "70x70" %>
          <% end %>

            <h4>Foto:</h4>
          <% if beobachtung.foto_path %>
            <img src="/fotos/<%=beobachtung.foto_path%>" alt="Transport-Foto" width="400">
            <p>
              Aufgenommen von: <%= beobachtung.foto_recht %>
              <%= link_to "Foto ändern", load_foto_beobachtung_path(beobachtung) %>
            </p>
          <% else %>
            <p> 
              <%= link_to "Foto hochladen", load_foto_beobachtung_path(beobachtung) %>
            </p>
          <% end %>

        </div>
        
      </div>
    </div>
</div>
