<div class="btn-group header-buttons">
  <%= link_to 'Neue Beobachtung', new_beobachtung_path, class: "btn btn-success" %>
</div>

<h1>Beobachtungen</h1>

<p>
  Angezeigt werden zunächst die neuen Beobachtungen, das heißt alle, die noch keinem Transportabschnitt zugewiesen wurden.
  Diese können dann einzeln angeschaut und Transportabschnitten zugewiesen werden.
</p>


<div class="row">
  <div class="col-sm-3">
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Anzeigen</h3>
      </div>
      <ul class="list-group">
        <%= link_to "Alle", beobachtungen_path(:zugeordnet => "a") , class: params[:zugeordnet]=="a" ? "list-group-item active" : "list-group-item" %>
        <%= link_to "Zugeordnete", beobachtungen_path(:zugeordnet => "j") , class:  params[:zugeordnet]=="j" ? "list-group-item active" : "list-group-item" %>
        <%= link_to "Neue", beobachtungen_path(:zugeordnet => "n") , class:  params[:zugeordnet]=="n" ? "list-group-item active" : "list-group-item" %>
      </ul>
    </div>
    
  </div>
  <div class="col-sm-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Ort</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @beobachtungen.each do |beobachtung| %>
          <tr>
            <td><%= beobachtung.ankunft_zeit.to_formatted_s(:dmyz)   %></td>
            <td><%= beobachtung.ort %></td>
            <td><%= link_to 'Show', beobachtung %></td>
            <td><%= link_to 'Bearbeiten', edit_beobachtung_path(beobachtung) %></td>
            <td><%= link_to 'Löschen', beobachtung, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate %>
  </div>
</div>
