<%= link_to beobachtungen_path do %>
  <span class='glyphicon glyphicon-menu-left' aria-hidden='true'></span> Alle Beobachtungen
<% end %>

<h1>Beobachtung aus <%= @beobachtung.ort %>
  <% if is_editor? %>
    <div class="btn-group header-buttons">
      <%= link_to 'Bearbeiten', edit_beobachtung_path(@beobachtung), class: "btn btn-primary" %>
      <%= link_to 'Löschen', @beobachtung, method: :delete, data: { confirm: 'Willst du die Beobachtung wirklich löschen?' }, class: "btn btn-danger" %></td>
    </div>
  <% end %>
</h1>

<p id="notice"><%= notice %></p>

<!-- Fuer die Uebersichtlichkeit ausgelagerte einzelne Panels -->

<%= hidden_field_tag "beobachtung_id", @beobachtung.id %>

<!--Eckdaten Panel, zeigt Ort und Zeit der Beobachtung -->
<%= render "show_eckdaten", beobachtung: @beobachtung, titel: "Eckdaten" %>

<!--Zeigt Beschreibung des Transports und die Gefahrgut-Kennzeichnung -->
<%= render "show_beschreibung", beobachtung: @beobachtung %>


<% if logged_in? %>

  <!-- Zeigt den zugeordneten Transportabschnitt oder ermoeglicht eine Zuordnung -->
  <%= render "show_transportabschnitt", beobachtung: @beobachtung %>

<% end %>
