<div class="btn-group header-buttons">
  <%= link_to 'Alle Beobachtungen', beobachtungen_path, class: "btn btn-primary" %>
  <%= link_to 'Bearbeiten', edit_beobachtung_path(@beobachtung), class: "btn btn-primary" %>
  <%= link_to 'Löschen', @beobachtung, method: :delete, data: { confirm: 'Willst du die Beobachtung wirklich löschen?' }, class: "btn btn-danger" %></td>
</div>

<h2>Beobachtung aus <%= @beobachtung.ort %></h2>

<p id="notice"><%= notice %></p>

<!-- Fuer die Uebersichtlichkeit ausgelagerte einzelne Panels -->

<%= hidden_field_tag "beobachtung_id", @beobachtung.id %>

<%= render "show_eckdaten", beobachtung: @beobachtung %>

<%= render "show_beschreibung", beobachtung: @beobachtung %>

<%= render "show_transportabschnitt", beobachtung: @beobachtung %>


