

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Daten-Eingabe</h3>
      </div>
      <ul class="list-group">
		<%= link_to "Transportdaten aus csv-Dateien einlesen", upload_index_path, class: "list-group-item" %>
        <%= link_to "Beobachtung eingeben", new_beobachtung_path, class: "list-group-item" %>
      </ul>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Daten-Bearbeitung</h3>
      </div>
      <ul class="list-group">
		<%= link_to "Daten zu Atomanlagen bearbeiten", anlagen_path, class: "list-group-item" %>
        <%= link_to "Daten zu Transportfirmen bearbeiten", firmen_path, class: "list-group-item" %>
        <%= link_to "Daten zu Transporten bearbeiten", transporte_path, class: "list-group-item" %>
        <%= link_to "Daten zu Beobachtungen bearbeiten", beobachtungen_path, class: "list-group-item" %>
      </ul>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Daten-Abruf</h3>
      </div>
      <ul class="list-group">
		<%= link_to "Listing der Transporte", transporte_path, class: "list-group-item" %>
        <%= link_to "Transport-Abfragen", abfragen_index_path, class: "list-group-item" %>
      </ul>
    </div>
