<!DOCTYPE html>
<html>
  <head>
    <title>Urantransporte</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <%= render "layouts/navbar" %>
    
    <% unless true %>
      <div class="col-sm-2" id="navigation_seitenleiste">  
		<h2> Navigation </h2> 
        <%= render "layouts/side_navigation" %>
      </div>
    <% end %>
    
    <div class="col-sm-9">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
