<!DOCTYPE html>
<html>
  <head>
    <title>Urantransporte</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to 'Atomtransport-Datenbank', root_path, class: "navbar-brand" %>
      </div>
    </header>
    
    <% unless params[:controller] == "welcome" %>
      <div class="col-sm-2" id="navigation_seitenleiste">   
        <%= render "layouts/side_navigation" %>
      </div>
    <% end %>
    
    <div class="col-sm-9">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
